<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Data-Cleaning" data-toc-modified-id="Data-Cleaning-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Data Cleaning</a></span></li><li><span><a href="#Examining-Data-for-Potential-Issues" data-toc-modified-id="Examining-Data-for-Potential-Issues-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Examining Data for Potential Issues</a></span></li><li><span><a href="#Missing-Values" data-toc-modified-id="Missing-Values-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Missing Values</a></span><ul class="toc-item"><li><span><a href="#Show-the-number-of-null-values-only-of-the-columns-that-actually-have-null-values" data-toc-modified-id="Show-the-number-of-null-values-only-of-the-columns-that-actually-have-null-values-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Show the number of null values only of the columns that actually have null values</a></span></li><li><span><a href="#Remove-the-columns-that-have-more-than-10,000-null-values-in-them" data-toc-modified-id="Remove-the-columns-that-have-more-than-10,000-null-values-in-them-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Remove the columns that have more than 10,000 null values in them</a></span></li><li><span><a href="#Create-a-new-dataframe-that-shows-only-the-row-where-displ-is-null." data-toc-modified-id="Create-a-new-dataframe-that-shows-only-the-row-where-displ-is-null.-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Create a new dataframe that shows only the row where <code>displ</code> is null.</a></span></li><li><span><a href="#Fill-nan-values-with-the-most-appropriate-technique" data-toc-modified-id="Fill-nan-values-with-the-most-appropriate-technique-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>Fill nan values with the most appropriate technique</a></span></li><li><span><a href="#Bonus:" data-toc-modified-id="Bonus:-3.5"><span class="toc-item-num">3.5&nbsp;&nbsp;</span>Bonus:</a></span></li></ul></li><li><span><a href="#Incorrect-Values" data-toc-modified-id="Incorrect-Values-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Incorrect Values</a></span><ul class="toc-item"><li><span><a href="#Check-similar-rows" data-toc-modified-id="Check-similar-rows-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Check similar rows</a></span></li><li><span><a href="#Bonus:" data-toc-modified-id="Bonus:-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>Bonus:</a></span></li></ul></li><li><span><a href="#Low-Variance-Columns" data-toc-modified-id="Low-Variance-Columns-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Low Variance Columns</a></span><ul class="toc-item"><li><span><a href="#Use-the-the-drop-method-like-we-did-earlier-in-this-lesson-to-remove-the-non-informative-columns-from-our-data-frame." data-toc-modified-id="Use-the-the-drop-method-like-we-did-earlier-in-this-lesson-to-remove-the-non-informative-columns-from-our-data-frame.-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>Use the the drop method like we did earlier in this lesson to remove the non informative columns from our data frame.</a></span></li></ul></li><li><span><a href="#Extreme-Values-and-Outliers" data-toc-modified-id="Extreme-Values-and-Outliers-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Extreme Values and Outliers</a></span></li><li><span><a href="#Data-Type-Correction" data-toc-modified-id="Data-Type-Correction-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Data Type Correction</a></span><ul class="toc-item"><li><span><a href="#Check-the-data-type-of-each-column" data-toc-modified-id="Check-the-data-type-of-each-column-7.1"><span class="toc-item-num">7.1&nbsp;&nbsp;</span>Check the data type of each column</a></span></li><li><span><a href="#Cleaning-years" data-toc-modified-id="Cleaning-years-7.2"><span class="toc-item-num">7.2&nbsp;&nbsp;</span>Cleaning years</a></span></li></ul></li><li><span><a href="#Cleaning-Text-and-Removing-Special-Characters" data-toc-modified-id="Cleaning-Text-and-Removing-Special-Characters-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>Cleaning Text and Removing Special Characters</a></span></li><li><span><a href="#Finding-and-Removing-Duplicates" data-toc-modified-id="Finding-and-Removing-Duplicates-9"><span class="toc-item-num">9&nbsp;&nbsp;</span>Finding and Removing Duplicates</a></span><ul class="toc-item"><li><span><a href="#Drop-duplicate-rows-that-are-completely-equal" data-toc-modified-id="Drop-duplicate-rows-that-are-completely-equal-9.1"><span class="toc-item-num">9.1&nbsp;&nbsp;</span>Drop duplicate rows that are completely equal</a></span></li><li><span><a href="#Select-a-subset-of-columns,-remove-all-other-columns,-and-then-use-the-drop_duplicates-method-to-drop-any-duplicate-records-based-on-the-remaining-columns." data-toc-modified-id="Select-a-subset-of-columns,-remove-all-other-columns,-and-then-use-the-drop_duplicates-method-to-drop-any-duplicate-records-based-on-the-remaining-columns.-9.2"><span class="toc-item-num">9.2&nbsp;&nbsp;</span>Select a subset of columns, remove all other columns, and then use the drop_duplicates method to drop any duplicate records based on the remaining columns.</a></span></li></ul></li><li><span><a href="#Export-clean-dataset" data-toc-modified-id="Export-clean-dataset-10"><span class="toc-item-num">10&nbsp;&nbsp;</span>Export clean dataset</a></span></li></ul></div>

# Data Cleaning


Lab Goals

+ Examine data for potential issues.
+ Identify and fill in missing values.
+ Identify and correct incorrect values.
+ Remove low variance columns.
+ Identify potential outliers.
+ Correct incorrect data types.
+ Remove special characters and clean categorical variables.
+ Identify and remove duplicate records.

Introduction

When working with data sets, you will find that they often require a bit of cleaning. Whether Pandas originally read the data types incorrectly, records are duplicated, the data contains special characters or missing value, or there are slightly different references to the same entity, every data analyst must know how to clean the data they are working with before analyzing it. In this lesson, you will learn about some of the most common problems that make data messy and methods for correcting those problems and cleaning your data.

The data set we are going to be using for this lesson is a messy version of the vehicles data set we worked with in the previous lesson. Let's import this version of our data set so that we can then practice cleaning it up.

In [1]:
import pandas as pd
import numpy as np

In [2]:
#Load data from vehicles_messy.csv

data = pd.read_csv('../data/vehicles_messy.csv')

C:\Users\David MC\AppData\Local\Temp\ipykernel_10548\3882792136.py:3: DtypeWarning: Columns (70,71,72,73,74,76,79) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('../data/vehicles_messy.csv')

# Examining Data for Potential Issues

One of the first things we want to do is examine the data and look for any **potential issues**. Some of the things we are interested in identifying in the data at this stage include:

- Missing values
- Special characters
- Incorrect values
- Extreme values or outliers
- Duplicate records
- Incorrect data types

The presence of these may cause problems when it's time to analyze the data, so we want to make sure we address them beforehand. We can start by visually inspecting the data using the `.head` method, which will show us the first 5 rows of data.

In [3]:
#your code
data.head()

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,mfrCode,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb
0,15.695714,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
1,29.964545,0.0,0.0,0.0,9,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
2,12.207778,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
3,29.964545,0.0,0.0,0.0,10,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
4,17.347895,0.0,0.0,0.0,17,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0

But how big actually is our dataframe??? Check it with `.shape` method

In [4]:
#your code
data.shape

(37843, 83)

Let's dive a little more in the content of our data set. Is there any method that shows us the **column names**, its **data types** and number of **non-null values**?

In [5]:
#your code
data.columns # columnas

Index(['barrels08', 'barrelsA08', 'charge120', 'charge240', 'city08',
       'city08U', 'cityA08', 'cityA08U', 'cityCD', 'cityE', 'cityUF', 'co2',
       'co2A', 'co2TailpipeAGpm', 'co2TailpipeGpm', 'comb08', 'comb08U',
       'combA08', 'combA08U', 'combE', 'combinedCD', 'combinedUF', 'cylinders',
       'displ', 'drive', 'engId', 'eng_dscr', 'feScore', 'fuelCost08',
       'fuelCostA08', 'fuelType', 'fuelType1', 'ghgScore', 'ghgScoreA',
       'highway08', 'highway08U', 'highwayA08', 'highwayA08U', 'highwayCD',
       'highwayE', 'highwayUF', 'hlv', 'hpv', 'id', 'lv2', 'lv4', 'make',
       'model', 'mpgData', 'phevBlended', 'pv2', 'pv4', 'range', 'rangeCity',
       'rangeCityA', 'rangeHwy', 'rangeHwyA', 'trany', 'UCity', 'UCityA',
       'UHighway', 'UHighwayA', 'VClass', 'year', 'youSaveSpend', 'guzzler',
       'trans_dscr', 'tCharger', 'sCharger', 'atvType', 'fuelType2', 'rangeA',
       'evMotor', 'mfrCode', 'c240Dscr', 'charge240b', 'c240bDscr',
       'createdOn', 'modifiedOn', 'startStop', 'phevCity', 'phevHwy',
       'phevComb'],
      dtype='object')

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37843 entries, 0 to 37842
Data columns (total 83 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   barrels08        37843 non-null  float64
 1   barrelsA08       37843 non-null  float64
 2   charge120        37843 non-null  float64
 3   charge240        37843 non-null  float64
 4   city08           37843 non-null  int64
 5   city08U          37843 non-null  float64
 6   cityA08          37843 non-null  int64
 7   cityA08U         37843 non-null  float64
 8   cityCD           37843 non-null  float64
 9   cityE            37843 non-null  float64
 10  cityUF           37843 non-null  float64
 11  co2              37843 non-null  int64
 12  co2A             37843 non-null  int64
 13  co2TailpipeAGpm  37843 non-null  float64
 14  co2TailpipeGpm   37843 non-null  float64
 15  comb08           37843 non-null  int64
 16  comb08U          37843 non-null  float64
 17  combA08          37843 non-null  int64
 18  combA08U         37843 non-null  float64
 19  combE            37843 non-null  float64
 20  combinedCD       37843 non-null  float64
 21  combinedUF       37843 non-null  float64
 22  cylinders        37720 non-null  float64
 23  displ            37723 non-null  float64
 24  drive            36654 non-null  object
 25  engId            37843 non-null  int64
 26  eng_dscr         22440 non-null  object
 27  feScore          37843 non-null  int64
 28  fuelCost08       37843 non-null  int64
 29  fuelCostA08      37843 non-null  int64
 30  fuelType         37843 non-null  object
 31  fuelType1        37843 non-null  object
 32  ghgScore         37843 non-null  int64
 33  ghgScoreA        37843 non-null  int64
 34  highway08        37843 non-null  int64
 35  highway08U       37843 non-null  float64
 36  highwayA08       37843 non-null  int64
 37  highwayA08U      37843 non-null  float64
 38  highwayCD        37843 non-null  float64
 39  highwayE         37843 non-null  float64
 40  highwayUF        37843 non-null  float64
 41  hlv              37843 non-null  int64
 42  hpv              37843 non-null  int64
 43  id               37843 non-null  int64
 44  lv2              37843 non-null  int64
 45  lv4              37843 non-null  int64
 46  make             37843 non-null  object
 47  model            37843 non-null  object
 48  mpgData          37843 non-null  object
 49  phevBlended      37843 non-null  bool
 50  pv2              37843 non-null  int64
 51  pv4              37843 non-null  int64
 52  range            37843 non-null  int64
 53  rangeCity        37843 non-null  float64
 54  rangeCityA       37843 non-null  float64
 55  rangeHwy         37843 non-null  float64
 56  rangeHwyA        37843 non-null  float64
 57  trany            37832 non-null  object
 58  UCity            37843 non-null  float64
 59  UCityA           37843 non-null  float64
 60  UHighway         37843 non-null  float64
 61  UHighwayA        37843 non-null  float64
 62  VClass           37843 non-null  object
 63  year             37843 non-null  int64
 64  youSaveSpend     37843 non-null  int64
 65  guzzler          2281 non-null   object
 66  trans_dscr       15047 non-null  object
 67  tCharger         5186 non-null   object
 68  sCharger         666 non-null    object
 69  atvType          3072 non-null   object
 70  fuelType2        1408 non-null   object
 71  rangeA           1403 non-null   object
 72  evMotor          562 non-null    object
 73  mfrCode          7025 non-null   object
 74  c240Dscr         37 non-null     object
 75  charge240b       37843 non-null  float64
 76  c240bDscr        36 non-null     object
 77  createdOn        37843 non-null  object
 78  modifiedOn       37843 non-null  object
 79  startStop        6138 non-null   object
 80  phevCity         37843 non-null  int64
 81  phevHwy          37843 non-null  int64
 82  phevComb         37843 non-null  int64
dtypes: bool(1), float64(32), int64(27), object(23)
memory usage: 23.7+ MB

# Missing Values

From this initial view, we can see that our data set contains some columns that have missing values in them and others that seem to have a lot of zero values. 

Let's see how prevalent missing values are in our data. We can use the Pandas `.isnull()` method to check whether the value in each field is missing (*null*) and return either True or False for each field. 

We can use the `.sum()` method to total up the number of True values by column, and then we can add a condition using square brackets that will filter the data and show us only columns where the number of null values were greater than zero.

## Show the number of null values only of the columns that actually have null values

In [49]:
#your code
na_columns=data.isnull().sum()

na_columns[na_columns>0]

cylinders     123
displ         120
drive        1189
trany          11
dtype: int64

In [50]:
na_columns2=data.isna().sum()

na_columns2[na_columns2>0]

cylinders     123
displ         120
drive        1189
trany          11
dtype: int64

We can see that some columns have relatively few null values while others have tens of thousands of nulls. For fields that have a lot of null values, you will often have to make a judgement call. If you don't think the information is going to be very useful to your analysis, then you would remove those columns from your data frame.

## Remove the columns that have more than 10,000 null values in them

In Pandas, we can do that using the drop method. For our purposes, let's remove the columns that have more than 10,000 null values in them. We will add these column names to a list, and then we will pass those columns to the drop method and indicate that we want columns (not rows) dropped by setting the axis parameter to 1.

In [51]:
#your code
na_col_10k=na_columns[na_columns>1e4].index

len(na_col_10k)

0

In [52]:
#your code

data.drop(na_col_10k, axis=1, inplace=True)

In [53]:
data.shape

(37843, 37)

This leaves us with just a handful of remaining columns that have null values. Of the columns that remain, it looks like the cylinders column and the displ column have a similar number of nulls. Perhaps they are missing for similar reasons. We can investigate this by subsetting the data set and looking at just the records where displ is null and just the columns we think will be informative in allowing us to determine a reason.

## Create a new dataframe that shows only the row where `displ` is null. 
Keep only the columns you think are useful

In [54]:
nan_cols[nan_cols>10]

NameError: name 'nan_cols' is not defined

In [55]:
#your code
nan_cols = data.isna().sum()

nan_cols[nan_cols>100]

bad_index = data.displ[data.displ.isna()].index

bad_index

Int64Index([ 7138,  7139,  8143,  8144,  8146,  8147,  9212,  9213, 10329,
            21413,
            ...
            30557, 30561, 30784, 30785, 30786, 30969, 30972, 30973, 30974,
            30975],
           dtype='int64', length=120)

In [56]:
datan=data.iloc[bad_index][['drive', 'cylinders', 'displ']]

datan

                   drive  cylinders  displ
7138                 NaN        NaN    NaN
7139       2-Wheel Drive        NaN    NaN
8143       2-Wheel Drive        NaN    NaN
8144                 NaN        NaN    NaN
8146       2-Wheel Drive        NaN    NaN
...                  ...        ...    ...
30969  Front-Wheel Drive        NaN    NaN
30972   Rear-Wheel Drive        NaN    NaN
30973    All-Wheel Drive        NaN    NaN
30974    All-Wheel Drive        NaN    NaN
30975    All-Wheel Drive        NaN    NaN

[120 rows x 3 columns]

## Fill nan values with the most appropriate technique 
*HINT: Electric cars do not have cylinders and can therefore not have any displacement*

In [57]:


#data[['cylinders', 'displ']].fillna(0, inplace=True)

data[['cylinders', 'displ']]= data[['cylinders', 'displ']].fillna(0)

nan_cols2 = data.isna().sum()

nan_cols2[nan_cols2>100]

drive    1189
dtype: int64

## Bonus: 
Now that we have filled in those null values, there are only two columns in the data set that still have null values: trany and drive. Use what you have learned in this section to investigate and potentially fill in the remaining null values.

In [58]:
#your code

bad_index2 = data.drive[data.drive.isna()].index

bad_index2

Int64Index([ 7138,  8144,  8147, 18217, 18218, 18219, 18220, 18221, 18222,
            18223,
            ...
            20063, 20064, 20065, 20387, 21129, 23029, 23030, 23032, 23037,
            23040],
           dtype='int64', length=1189)

In [59]:
data.iloc[bad_index2][['drive']].drive.unique()

[NaN]
Categories (8, object): ['2-Wheel Drive', '2-Wheel Drive, Front', '4-Wheel Drive', '4-Wheel or All-Wheel Drive', 'All-Wheel Drive', 'Front-Wheel Drive', 'Part-time 4-Wheel Drive', 'Rear-Wheel Drive']

In [70]:
data.iloc[bad_index2][['make', 'model', 'fuelType', 'cylinders', 'displ','drive']]

             make               model     fuelType  cylinders  displ drive
7138       Nissan            Altra EV  Electricity        0.0    0.0   NaN
8144         Ford               Th!nk  Electricity        0.0    0.0   NaN
8147       Nissan          Hyper-Mini  Electricity        0.0    0.0   NaN
18217  Alfa Romeo  Spider Veloce 2000      Regular        4.0    2.0   NaN
18218     Bertone                X1/9      Regular        4.0    1.5   NaN
...           ...                 ...          ...        ...    ...   ...
23029         GMC                 EV1  Electricity        0.0    0.0   NaN
23030         GMC                 EV1  Electricity        0.0    0.0   NaN
23032       Honda             EV Plus  Electricity        0.0    0.0   NaN
23037       Honda             EV Plus  Electricity        0.0    0.0   NaN
23040        MINI               MiniE  Electricity        0.0    0.0   NaN

[1189 rows x 6 columns]

In [61]:
data[['drive']]= data[['drive']].fillna('Unknown_Drive')

data.iloc[:][['drive']].drive.unique()

TypeError: Cannot setitem on a Categorical with a new category (Unknown_Drive), set the categories first

In [71]:
data.iloc[:][['trany']].trany.unique()

array(['Manual 5spd', 'Auto 3spd', 'Auto 4spd', 'Auto 5spd',
       'Manual 4spd', 'Manual 3spd', 'Manual 6spd', 'Auto S5',
       'Auto variable gear ratios', 'Auto 6spd', 'Auto S6', 'Automatic',
       'Auto S4', 'Auto 7spd', 'Auto S7', 'Auto S8', 'Auto AM5',
       'AutoAM6', 'AutoAVS7', 'Auto A6', 'Auto AVS6', 'AutoAM7',
       'Manual 4spd Doubled', 'Manual 5 spd', 'Auto AM6', 'Manual 7spd',
       'AutoL4', 'AutoL3', 'Auto AV', 'AutoAM5', 'AutoAVS6', 'Auto AVS8',
       'Auto 8spd', 'AutoAVS8', 'Auto A1', 'AutoAMS6', 'AutoAMS7',
       'Auto 9spd', 'Auto S9', 'AutoAMS8', 'AutoA1', 'AutoAM8',
       'ManualM7', 'AutoAMS9'], dtype=object)

In [73]:
bad_index3 = data.trany[data.trany.isna()].index

bad_index3

Int64Index([], dtype='int64')

In [74]:
data.iloc[bad_index3][['make', 'model', 'fuelType', 'cylinders', 'displ','drive', 'trany']]

Empty DataFrame
Columns: [make, model, fuelType, cylinders, displ, drive, trany]
Index: []

In [69]:
data[['trany']]= data[['trany']].fillna('Automatic')

data.iloc[bad_index3][['make', 'model', 'fuelType', 'cylinders', 'displ','drive', 'trany']]

,make,model,fuelType,cylinders,displ,drive,trany
7138,Nissan,Altra EV,Electricity,0.0,0.0,NaN,Automatic
7139,Toyota,RAV4 EV,Electricity,0.0,0.0,2-Wheel Drive,Automatic
8143,Toyota,RAV4 EV,Electricity,0.0,0.0,2-Wheel Drive,Automatic
8144,Ford,Th!nk,Electricity,0.0,0.0,NaN,Automatic
8146,Ford,Explorer USPS Electric,Electricity,0.0,0.0,2-Wheel Drive,Automatic
8147,Nissan,Hyper-Mini,Electricity,0.0,0.0,NaN,Automatic
9212,Toyota,RAV4 EV,Electricity,0.0,0.0,2-Wheel Drive,Automatic
9213,Ford,Explorer USPS Electric,Electricity,0.0,0.0,2-Wheel Drive,Automatic
10329,Toyota,RAV4 EV,Electricity,0.0,0.0,2-Wheel Drive,Automatic
19097,Ford,F150 Pickup 2WD,Regular,8.0,5.8,2-Wheel Drive,Automatic
19128,GMC,C25 Pickup 2WD,Regular,6.0,4.1,2-Wheel Drive,Automatic

# Incorrect Values

In addition to null values, we also want to try to identify any values that seem incorrect. For example, in the previous section, we learned that a vehicle without cylinders should not have displacement and vice versa. Let's check to see if there are any cases that violate these rules.

In [66]:
#your code
data.iloc[:][data.cylinders==0]

cil0_cols = data[((data.cylinders==0) & (data.displ>0)) | ((data.cylinders!=0) & (data.displ==0)) ].index

cil0_cols

data.iloc[cil0_cols][['make', 'model', 'fuelType', 'cylinders', 'displ','drive', 'trany']]

        make model fuelType  cylinders  displ             drive        trany
21506  Mazda  RX-7  Regular        0.0    1.3  Rear-Wheel Drive  Manual 5spd

Is there any row that seems to have strange values?

In [ ]:
#One row has cilinders and displacement, which is not correct

Here we have identified a vehicle with a regular gasoline engine that reportedly does not have any cylinders but does have a value for displacement.

The way we would correct this would be to either perform some domain research or ask a domain expert to find out how many actual cylinders this vehicle had. Alternatively, you can also try to look at similar vehicles in the data set and determine the most likely value for this field.

## Check similar rows

In [67]:
#your code

data.drop_duplicates().shape , data.shape

((37843, 37), (37843, 37))

Suppose that using one of the aforementioned methods, we found out that this vehicle actually has a 4 cylinder engine. Update that specific value in the data frame.

In [68]:
#your code
data.iloc[:][data.cylinders==0]

filas = data[((data.make=='Mazda') & (data.displ==1.3)  & (data.model=='RX-7'))].index

filas

data.iloc[filas][['make', 'model', 'fuelType', 'cylinders', 'displ','drive', 'trany']]

        make model fuelType  cylinders  displ             drive        trany
714    Mazda  RX-7  Premium        2.0    1.3  Rear-Wheel Drive    Auto 4spd
715    Mazda  RX-7  Premium        2.0    1.3  Rear-Wheel Drive  Manual 5spd
1785   Mazda  RX-7  Premium        2.0    1.3  Rear-Wheel Drive    Auto 4spd
1786   Mazda  RX-7  Premium        2.0    1.3  Rear-Wheel Drive  Manual 5spd
8145   Mazda  RX-7  Regular        2.0    1.3  Rear-Wheel Drive    Auto 4spd
14318  Mazda  RX-7  Regular        2.0    1.3  Rear-Wheel Drive  Manual 5spd
18238  Mazda  RX-7  Regular        2.0    1.3               NaN  Manual 5spd
19480  Mazda  RX-7  Regular        2.0    1.3               NaN  Manual 5spd
21108  Mazda  RX-7  Regular        2.0    1.3  Rear-Wheel Drive    Auto 4spd
21118  Mazda  RX-7  Regular        2.0    1.3  Rear-Wheel Drive  Manual 5spd
21126  Mazda  RX-7  Regular        2.0    1.3  Rear-Wheel Drive  Manual 5spd
21506  Mazda  RX-7  Regular        0.0    1.3  Rear-Wheel Drive  Manual 5spd
31339  Mazda  RX-7  Regular        2.0    1.3  Rear-Wheel Drive    Auto 4spd
31340  Mazda  RX-7  Regular        2.0    1.3  Rear-Wheel Drive  Manual 5spd
31341  Mazda  RX-7  Regular        2.0    1.3  Rear-Wheel Drive  Manual 5spd
32595  Mazda  RX-7  Regular        2.0    1.3  Rear-Wheel Drive    Auto 4spd
32596  Mazda  RX-7  Regular        2.0    1.3  Rear-Wheel Drive  Manual 5spd
32597  Mazda  RX-7  Regular        2.0    1.3  Rear-Wheel Drive  Manual 5spd
33868  Mazda  RX-7  Regular        2.0    1.3  Rear-Wheel Drive    Auto 4spd
33869  Mazda  RX-7  Regular        2.0    1.3  Rear-Wheel Drive  Manual 5spd
33870  Mazda  RX-7  Regular        2.0    1.3  Rear-Wheel Drive  Manual 5spd
35051  Mazda  RX-7  Regular        2.0    1.3  Rear-Wheel Drive    Auto 4spd
35052  Mazda  RX-7  Regular        2.0    1.3  Rear-Wheel Drive  Manual 5spd
35053  Mazda  RX-7  Regular        2.0    1.3  Rear-Wheel Drive  Manual 5spd
36268  Mazda  RX-7  Regular        2.0    1.3  Rear-Wheel Drive    Auto 4spd
36269  Mazda  RX-7  Regular        2.0    1.3  Rear-Wheel Drive  Manual 5spd
37464  Mazda  RX-7  Premium        2.0    1.3  Rear-Wheel Drive    Auto 4spd
37465  Mazda  RX-7  Premium        2.0    1.3  Rear-Wheel Drive  Manual 5spd

In [ ]:
#data.cylinders= data[((data.cylinders==0) & (data.displ>0)) ].replace(0,2)

data.loc[((data.cylinders==0) & (data.displ>0)),'cylinders']=2

data.iloc[cil0_cols][['make', 'model', 'fuelType', 'cylinders', 'displ','drive', 'trany']]

        make model fuelType  cylinders  displ             drive         trany
21506  Mazda  RX-7  Regular        2.0    1.3  Rear-Wheel Drive  Manual 5-spd

## Bonus: 
 Try to find other values that might be incorrect in the data set based on what you know about automobiles and correct them.

In [ ]:
#your code

# Low Variance Columns

When analyzing data, we want the fields we are working with to be informative, and we will want to strip away any columns that don't have a lot of value to us. One easy way to do this is to identify columns that have low variance, where the majority of the values in the column are the same. Since there is not a lot of variability in these columns, they have the potential to not be as informative as columns that have a variety of different values in them.

Let's try to identify columns where at least 90% of the values are the same so that we can remove them from our data set. To do this, we are going to create an empty list called low_variance that will eventually contain the names of columns that fit our criteria.

We will then write a for loop that will take the minimum and the 90th percentile value for all the numeric columns in our data set (identified via the _get_numeric_data method). If the 90th percentile and the minimum are equal to each other, that means that at least 90% of the values in that column are the same and we will append that column name to our low_variance list.

In [14]:
low_variance = []

for i in data.select_dtypes(include=np.number):
    minimo = data[i].min()
    percent_90 = np.percentile(data[i], 90)
    if percent_90 == minimo:

        low_variance.append(i)
    if data[i].std()==0:
        low_variance.append(i)

len(low_variance)

0.0 0.0
0.0 0.0
0.0 0.0
0.0 0
0.0 0.0
0.0 0.0
0.0 0.0
0.0 0.0
-1.0 -1
0.0 0.0
0.0 0
0.0 0.0
0.0 0.0
0.0 0.0
0.0 0.0
0.0 0
-1.0 -1
0.0 0
0.0 0.0
0.0 0.0
0.0 0.0
0.0 0.0
0.0 0
0.0 0.0
0.0 0.0
0.0 0.0
0.0 0.0
0.0 0.0
0.0 0.0
0.0 0.0
0.0 0
0.0 0
0.0 0

34

In [17]:
low_variance

['barrelsA08',
 'charge120',
 'charge120',
 'charge240',
 'cityA08',
 'cityA08U',
 'cityCD',
 'cityE',
 'cityUF',
 'co2A',
 'co2TailpipeAGpm',
 'combA08',
 'combA08U',
 'combE',
 'combinedCD',
 'combinedUF',
 'fuelCostA08',
 'ghgScoreA',
 'highwayA08',
 'highwayA08U',
 'highwayCD',
 'highwayE',
 'highwayUF',
 'range',
 'rangeCity',
 'rangeCityA',
 'rangeHwy',
 'rangeHwyA',
 'UCityA',
 'UHighwayA',
 'charge240b',
 'phevCity',
 'phevHwy',
 'phevComb']

In [15]:
cte_cols = []

for c in data.select_dtypes(include=np.number):
    
    if data[c].std()==0:
        cte_cols.append(c)

cte_cols

['charge120']

In [ ]:
#data = data.drop(columns=cte_cols, axis=1)

In [ ]:
data.corr().head()

,barrels08,city08,city08U,co2,co2TailpipeGpm,comb08,comb08U,cylinders,displ,engId,...,id,lv2,lv4,phevBlended,pv2,pv4,UCity,UHighway,year,youSaveSpend
barrels08,1.000000,-0.754178,-0.360597,-0.113773,0.987493,-0.813910,-0.356207,0.747286,0.792071,-0.073507,...,-0.192848,-0.123986,-0.258650,-0.073758,-0.124002,-0.311614,-0.732513,-0.858946,-0.204844,-0.916718
city08,-0.754178,1.000000,0.572131,0.057167,-0.767689,0.987464,0.526201,-0.614192,-0.613672,0.070890,...,0.157913,0.041028,0.141717,0.069768,0.038917,0.179480,0.996735,0.925487,0.142110,0.697109
city08U,-0.360597,0.572131,1.000000,0.625575,-0.367654,0.568988,0.995312,-0.155433,-0.152227,-0.203999,...,0.590515,-0.044914,0.003767,0.092432,-0.025526,0.045957,0.575844,0.548646,0.575048,0.269068
co2,-0.113773,0.057167,0.625575,1.000000,-0.117604,0.083534,0.666500,0.093303,0.072525,-0.197383,...,0.596749,-0.024676,-0.039258,0.025627,-0.003361,-0.004422,0.055694,0.130346,0.580558,0.046250
co2TailpipeGpm,0.987493,-0.767689,-0.367654,-0.117604,1.000000,-0.827964,-0.363189,0.759085,0.804397,-0.076769,...,-0.194365,-0.127086,-0.262586,-0.071796,-0.127151,-0.315065,-0.746638,-0.875143,-0.205201,-0.929848

In [18]:
colineales = []

for c in data._get_numeric_data(): # para cada columna numerica ...
    
    for i in range(len(data.corr())): # vamos a recorrer la matriz de correlación ..
        
        if abs(data.corr()[c][i])>0.9 and abs(data.corr()[c][i])<1: # el umbral es arbitrario, abs es el valor absoluto del dato
            #print('columna que estay explorando ', c)
            
            #print('valor de la matriz de correlación ', df.corr()[c][i] )
            colineales.append(c)

colineales = list(set(colineales))

len(colineales)

KeyboardInterrupt:

This returned 34 columns that we could potentially eliminate due to not having high enough variability to be informative. Of course, before we do this, we should check the values that do exist in these fields to confirm that they are not very informative. Once they have been checked, we can use the the drop method like we did earlier in this lesson to remove those columns from our data frame.

## Use the the drop method like we did earlier in this lesson to remove the non informative columns from our data frame.

In [19]:
#your code
data= data.drop(columns=low_variance, axis=1)

In [20]:
data.shape

(37843, 37)

# Extreme Values and Outliers

Now that we have removed low variance columns, we should look for outliers, or extreme values, in the columns that remain. These outliers can influence our aggregations when we are analyzing data later, so we want to make sure we address them during our data cleaning stage.

A common method for identifying outliers is one that leverages the interquartile range (IQR). Once the IQR is calculated, it is multiplied by a constant (typically 1.5) and lower and upper bounds are established at:

    25th Percentile - (IQR x 1.5)
    75th Percentile + (IQR x 1.5)

Any values outside this range are potential outliers and should be investigated.

Let's look at how we would do this for our data set using Python. We will use the Pandas describe function to easily calculate the 25th and 75th percentiles for every column and transpose the results so that we can easily reference the values in calculating the interquartile ranges.

In [21]:
#Run this code
stats = data.describe().transpose()
stats['IQR'] = stats['75%'] - stats['25%']
stats

,count,mean,std,min,25%,50%,75%,max,IQR
barrels08,37843.0,17.532506,4.575950,0.06,14.33087,17.347895,20.600625,47.087143,6.269755
city08,37843.0,17.941389,6.660360,6.00,15.00000,17.000000,20.000000,138.000000,5.000000
city08U,37843.0,4.042737,9.645820,0.00,0.00000,0.000000,0.000000,138.304000,0.000000
co2,37843.0,61.503713,153.387715,-1.00,-1.00000,-1.000000,-1.000000,847.000000,0.000000
co2TailpipeGpm,37843.0,473.179736,122.188847,0.00,388.00000,467.736842,555.437500,1269.571429,167.437500
comb08,37843.0,20.195809,6.623444,7.00,17.00000,19.000000,23.000000,124.000000,6.000000
comb08U,37843.0,4.549751,10.389994,0.00,0.00000,0.000000,0.000000,124.360100,0.000000
cylinders,37720.0,5.737990,1.751795,2.00,4.00000,6.000000,6.000000,16.000000,2.000000
displ,37723.0,3.318180,1.361399,0.00,2.20000,3.000000,4.300000,8.400000,2.100000
engId,37843.0,8860.308961,17829.683477,0.00,0.00000,211.000000,4505.000000,69102.000000,4505.000000
feScore,37843.0,-0.035145,2.379584,-1.00,-1.00000,-1.000000,-1.000000,10.000000,0.000000
fuelCost08,37843.0,1882.060090,510.280408,550.00,1500.00000,1850.000000,2200.000000,5800.000000,700.000000
ghgScore,37843.0,-0.037206,2.374338,-1.00,-1.00000,-1.000000,-1.000000,10.000000,0.000000
highway08,37843.0,24.104881,6.963192,9.00,20.00000,24.000000,27.000000,111.000000,7.000000
highway08U,37843.0,5.438467,11.936327,0.00,0.00000,0.000000,0.000000,111.370000,0.000000
hlv,37843.0,2.026214,5.947989,0.00,0.00000,0.000000,0.000000,49.000000,0.000000
hpv,37843.0,10.424332,28.148770,0.00,0.00000,0.000000,0.000000,195.000000,0.000000
id,37843.0,19019.286235,11034.784855,1.00,9461.50000,18923.000000,28570.500000,38173.000000,19109.000000
lv2,37843.0,1.849219,4.429983,0.00,0.00000,0.000000,0.000000,41.000000,0.000000
lv4,37843.0,6.165658,9.743297,0.00,0.00000,0.000000,13.000000,55.000000,13.000000
pv2,37843.0,13.696113,31.269930,0.00,0.00000,0.000000,0.000000,194.000000,0.000000
pv4,37843.0,33.769125,45.914462,0.00,0.00000,0.000000,91.000000,192.000000,91.000000
UCity,37843.0,22.587229,9.350163,0.00,18.00000,21.000000,25.139300,197.577100,7.139300
UHighway,37843.0,33.619221,10.048326,0.00,27.10000,33.000000,38.109600,159.100000,11.009600
year,37843.0,2000.064398,10.390588,1984.00,1990.00000,2001.000000,2009.000000,2017.000000,19.000000
youSaveSpend,37843.0,-2658.999022,2553.098329,-22250.00,-4250.00000,-2500.000000,-750.000000,4000.000000,3500.000000

We will then create an empty data frame called outliers with the same columns as our data set. Finally, we will loop through each column in the data calculating the lower and upper bounds, retrieving records where the value for that column falls outside the bounds we established, and appending those results to our outlier data frame.

In [22]:
#Run this code
outliers = pd.DataFrame(columns=data.columns)

for col in stats.index:
    iqr = stats.at[col,'IQR']
    cutoff = iqr * 1.5
    lower = stats.at[col,'25%'] - cutoff
    upper = stats.at[col,'75%'] + cutoff
    results = data[(data[col] < lower) | 
                   (data[col] > upper)].copy()
    results['Outlier'] = col
    outliers = outliers.append(results)
    

outliers.head()

C:\Users\David MC\AppData\Local\Temp\ipykernel_10548\3046509943.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  outliers = outliers.append(results)
C:\Users\David MC\AppData\Local\Temp\ipykernel_10548\3046509943.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  outliers = outliers.append(results)
C:\Users\David MC\AppData\Local\Temp\ipykernel_10548\3046509943.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  outliers = outliers.append(results)
C:\Users\David MC\AppData\Local\Temp\ipykernel_10548\3046509943.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  outliers = outliers.append(results)
C:\Users\David MC\AppData\Local\Temp\ipykernel_10548\3046509943.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  outliers = outliers.append(results)
C:\Users\David MC\AppData\Local\Temp\ipykernel_10548\3046509943.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  outliers = outliers.append(results)
C:\Users\David MC\AppData\Local\Temp\ipykernel_10548\3046509943.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  outliers = outliers.append(results)
C:\Users\David MC\AppData\Local\Temp\ipykernel_10548\3046509943.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  outliers = outliers.append(results)
C:\Users\David MC\AppData\Local\Temp\ipykernel_10548\3046509943.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  outliers = outliers.append(results)
C:\Users\David MC\AppData\Local\Temp\ipykernel_10548\3046509943.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  outliers = outliers.append(results)
C:\Users\David MC\AppData\Local\Temp\ipykernel_10548\3046509943.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  outliers = outliers.append(results)
C:\Users\David MC\AppData\Local\Temp\ipykernel_10548\3046509943.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  outliers = outliers.append(results)
C:\Users\David MC\AppData\Local\Temp\ipykernel_10548\3046509943.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  outliers = outliers.append(results)
C:\Users\David MC\AppData\Local\Temp\ipykernel_10548\3046509943.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  outliers = outliers.append(results)
C:\Users\David MC\AppData\Local\Temp\ipykernel_10548\3046509943.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  outliers = outliers.append(results)
C:\Users\David MC\AppData\Local\Temp\ipykernel_10548\3046509943.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  outliers = outliers.append(results)
C:\Users\David MC\AppData\Local\Temp\ipykernel_10548\3046509943.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  outliers = outliers.append(results)
C:\Users\David MC\AppData\Local\Temp\ipykernel_10548\3046509943.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  outliers = outliers.append(results)
C:\Users\David MC\AppData\Local\Temp\ipykernel_10548\3046509943.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  outliers = outliers.append(results)
C:\Users\David MC\AppData\Local\Temp\ipykernel_10548\3046509943.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  outliers = outliers.append(results)
C:\Users\David MC\AppData\Local\Temp\ipykernel_10548\3046509943.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  outliers = outliers.append(results)
C:\Users\David MC\AppData\Local\Temp\ipykernel_10548\3046509943.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  outliers = outliers.append(results)
C:\Users\David MC\AppData\Local\Temp\ipykernel_10548\3046509943.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  outliers = outliers.append(results)
C:\Users\David MC\AppData\Local\Temp\ipykernel_10548\3046509943.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  outliers = outliers.append(results)
C:\Users\David MC\AppData\Local\Temp\ipykernel_10548\3046509943.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  outliers = outliers.append(results)
C:\Users\David MC\AppData\Local\Temp\ipykernel_10548\3046509943.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  outliers = outliers.append(results)

,barrels08,city08,city08U,co2,co2TailpipeGpm,comb08,comb08U,cylinders,displ,drive,...,pv4,trany,UCity,UHighway,VClass,year,youSaveSpend,createdOn,modifiedOn,Outlier
47,32.961,9,0.0,-1,888.7,10,0.0,8.0,5.9,Rear-Wheel Drive,...,0,Automatic 3-spd,11.0,15.0,Vans,1985,-10000,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,barrels08
58,32.961,10,0.0,-1,888.7,10,0.0,8.0,5.2,Rear-Wheel Drive,...,0,Automatic 3-spd,12.0,15.0,Vans,1985,-10000,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,barrels08
69,32.961,10,0.0,-1,888.7,10,0.0,8.0,5.2,Rear-Wheel Drive,...,0,Automatic 3-spd,12.0,15.0,Vans,1985,-10000,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,barrels08
80,32.961,9,0.0,-1,888.7,10,0.0,8.0,5.9,Rear-Wheel Drive,...,0,Automatic 3-spd,11.0,14.0,Vans,1985,-10000,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,barrels08
275,32.961,9,0.0,-1,888.7,10,0.0,8.0,7.4,Rear-Wheel Drive,...,0,Automatic 4-spd,11.0,16.0,Standard Pickup Trucks,1993,-10000,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,barrels08

Our outliers data frame should now be populated with records that you can investigate further and determine whether they should be kept in the data or dropped. The Outlier column we added before appending the results for the column to the outliers data frame will let you know what column in each record contained the outlier. If you find that this method is returning too many results, you can be more stringent with your cutoff criteria (e.g. increasing the constant by which you multiply the IQR to 3 instead of 1.5).

# Data Type Correction

One common problem that is often overlooked is incorrect data types. This typically occurs when there is a numeric variable that should actually be represented as a categorical variable.

## Check the data type of each column

In [27]:
##your code
data.dtypes

barrels08         float64
city08              int64
city08U           float64
co2                 int64
co2TailpipeGpm    float64
comb08              int64
comb08U           float64
cylinders         float64
displ             float64
drive              object
engId               int64
feScore             int64
fuelCost08          int64
fuelType           object
fuelType1          object
ghgScore            int64
highway08           int64
highway08U        float64
hlv                 int64
hpv                 int64
id                  int64
lv2                 int64
lv4                 int64
make               object
model              object
mpgData            object
phevBlended          bool
pv2                 int64
pv4                 int64
trany              object
UCity             float64
UHighway          float64
VClass             object
year                int64
youSaveSpend        int64
createdOn          object
modifiedOn         object
dtype: object

## Cleaning years
Do you think column year is a continuous variable? Would you change it onto another dtype?

In [33]:
data.year.head()

0    1985
1    1985
2    1985
3    1985
4    1993
Name: year, dtype: int64

In [34]:
#your code

data.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37843 entries, 0 to 37842
Data columns (total 37 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   barrels08       37843 non-null  float64
 1   city08          37843 non-null  int64
 2   city08U         37843 non-null  float64
 3   co2             37843 non-null  int64
 4   co2TailpipeGpm  37843 non-null  float64
 5   comb08          37843 non-null  int64
 6   comb08U         37843 non-null  float64
 7   cylinders       37720 non-null  float64
 8   displ           37723 non-null  float64
 9   drive           36654 non-null  object
 10  engId           37843 non-null  int64
 11  feScore         37843 non-null  int64
 12  fuelCost08      37843 non-null  int64
 13  fuelType        37843 non-null  object
 14  fuelType1       37843 non-null  object
 15  ghgScore        37843 non-null  int64
 16  highway08       37843 non-null  int64
 17  highway08U      37843 non-null  float64
 18  hlv             37843 non-null  int64
 19  hpv             37843 non-null  int64
 20  id              37843 non-null  int64
 21  lv2             37843 non-null  int64
 22  lv4             37843 non-null  int64
 23  make            37843 non-null  object
 24  model           37843 non-null  object
 25  mpgData         37843 non-null  object
 26  phevBlended     37843 non-null  bool
 27  pv2             37843 non-null  int64
 28  pv4             37843 non-null  int64
 29  trany           37832 non-null  object
 30  UCity           37843 non-null  float64
 31  UHighway        37843 non-null  float64
 32  VClass          37843 non-null  object
 33  year            37843 non-null  int64
 34  youSaveSpend    37843 non-null  int64
 35  createdOn       37843 non-null  object
 36  modifiedOn      37843 non-null  object
dtypes: bool(1), float64(9), int64(17), object(10)
memory usage: 33.4 MB

In [35]:
for c in data.select_dtypes('object').columns:
    data[c]=data[c].astype('category')

data.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37843 entries, 0 to 37842
Data columns (total 37 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   barrels08       37843 non-null  float64
 1   city08          37843 non-null  int64
 2   city08U         37843 non-null  float64
 3   co2             37843 non-null  int64
 4   co2TailpipeGpm  37843 non-null  float64
 5   comb08          37843 non-null  int64
 6   comb08U         37843 non-null  float64
 7   cylinders       37720 non-null  float64
 8   displ           37723 non-null  float64
 9   drive           36654 non-null  category
 10  engId           37843 non-null  int64
 11  feScore         37843 non-null  int64
 12  fuelCost08      37843 non-null  int64
 13  fuelType        37843 non-null  category
 14  fuelType1       37843 non-null  category
 15  ghgScore        37843 non-null  int64
 16  highway08       37843 non-null  int64
 17  highway08U      37843 non-null  float64
 18  hlv             37843 non-null  int64
 19  hpv             37843 non-null  int64
 20  id              37843 non-null  int64
 21  lv2             37843 non-null  int64
 22  lv4             37843 non-null  int64
 23  make            37843 non-null  category
 24  model           37843 non-null  category
 25  mpgData         37843 non-null  category
 26  phevBlended     37843 non-null  bool
 27  pv2             37843 non-null  int64
 28  pv4             37843 non-null  int64
 29  trany           37832 non-null  category
 30  UCity           37843 non-null  float64
 31  UHighway        37843 non-null  float64
 32  VClass          37843 non-null  category
 33  year            37843 non-null  int64
 34  youSaveSpend    37843 non-null  int64
 35  createdOn       37843 non-null  category
 36  modifiedOn      37843 non-null  category
dtypes: bool(1), category(10), float64(9), int64(17)
memory usage: 8.5 MB

You can apply this technique to any column whose data type you would like to change.

In [36]:
for c in data.select_dtypes('integer').columns:
    data[c] = pd.to_numeric(data[c], downcast='integer')
data.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37843 entries, 0 to 37842
Data columns (total 37 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   barrels08       37843 non-null  float64
 1   city08          37843 non-null  int16
 2   city08U         37843 non-null  float64
 3   co2             37843 non-null  int16
 4   co2TailpipeGpm  37843 non-null  float64
 5   comb08          37843 non-null  int8
 6   comb08U         37843 non-null  float64
 7   cylinders       37720 non-null  float64
 8   displ           37723 non-null  float64
 9   drive           36654 non-null  category
 10  engId           37843 non-null  int32
 11  feScore         37843 non-null  int8
 12  fuelCost08      37843 non-null  int16
 13  fuelType        37843 non-null  category
 14  fuelType1       37843 non-null  category
 15  ghgScore        37843 non-null  int8
 16  highway08       37843 non-null  int8
 17  highway08U      37843 non-null  float64
 18  hlv             37843 non-null  int8
 19  hpv             37843 non-null  int16
 20  id              37843 non-null  int32
 21  lv2             37843 non-null  int8
 22  lv4             37843 non-null  int8
 23  make            37843 non-null  category
 24  model           37843 non-null  category
 25  mpgData         37843 non-null  category
 26  phevBlended     37843 non-null  bool
 27  pv2             37843 non-null  int16
 28  pv4             37843 non-null  int16
 29  trany           37832 non-null  category
 30  UCity           37843 non-null  float64
 31  UHighway        37843 non-null  float64
 32  VClass          37843 non-null  category
 33  year            37843 non-null  int16
 34  youSaveSpend    37843 non-null  int16
 35  createdOn       37843 non-null  category
 36  modifiedOn      37843 non-null  category
dtypes: bool(1), category(10), float64(9), int16(8), int32(2), int8(7)
memory usage: 4.7 MB

In [37]:
for c in data.select_dtypes('float').columns:
    data[c] = pd.to_numeric(data[c], downcast='float')

data.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37843 entries, 0 to 37842
Data columns (total 37 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   barrels08       37843 non-null  float32
 1   city08          37843 non-null  int16
 2   city08U         37843 non-null  float32
 3   co2             37843 non-null  int16
 4   co2TailpipeGpm  37843 non-null  float32
 5   comb08          37843 non-null  int8
 6   comb08U         37843 non-null  float32
 7   cylinders       37720 non-null  float32
 8   displ           37723 non-null  float32
 9   drive           36654 non-null  category
 10  engId           37843 non-null  int32
 11  feScore         37843 non-null  int8
 12  fuelCost08      37843 non-null  int16
 13  fuelType        37843 non-null  category
 14  fuelType1       37843 non-null  category
 15  ghgScore        37843 non-null  int8
 16  highway08       37843 non-null  int8
 17  highway08U      37843 non-null  float32
 18  hlv             37843 non-null  int8
 19  hpv             37843 non-null  int16
 20  id              37843 non-null  int32
 21  lv2             37843 non-null  int8
 22  lv4             37843 non-null  int8
 23  make            37843 non-null  category
 24  model           37843 non-null  category
 25  mpgData         37843 non-null  category
 26  phevBlended     37843 non-null  bool
 27  pv2             37843 non-null  int16
 28  pv4             37843 non-null  int16
 29  trany           37832 non-null  category
 30  UCity           37843 non-null  float32
 31  UHighway        37843 non-null  float32
 32  VClass          37843 non-null  category
 33  year            37843 non-null  int16
 34  youSaveSpend    37843 non-null  int16
 35  createdOn       37843 non-null  category
 36  modifiedOn      37843 non-null  category
dtypes: bool(1), category(10), float32(9), int16(8), int32(2), int8(7)
memory usage: 3.4 MB

# Cleaning Text and Removing Special Characters

The presence of special characters in our fields has the potential to make analyzing our data challenging. Imagine not being able to perform calculations on a numeric field because it was currently represented as an object data type due to the fact that it had a dollar sign ($) in it. 

Similarly, imagine having a categorical field where you could not group records that belong in the same group together because in one field you are grouping by, terms that refer to the same thing are sometimes hyphenated. In cases like this, it is necessary to remove special characters so that we can properly analyze the data.

In our vehicles data set, the trany field has several special characters (parentheses, hyphens, etc.). Check the unique values and clean the column.

hint: check the `replace` function

In [40]:
#your code
data.trany = data.trany.str.replace('-', '')

data.trany = data.trany.str.replace('Automatic', 'Auto')

data.trany = data.trany.str.replace('Auto\(', 'Auto')

data.trany = data.trany.str.replace('Manual\(', 'Manual')

data.trany = data.trany.str.replace('\(', '')

data.trany = data.trany.str.replace(')', '')

data.trany.unique()

C:\Users\David MC\AppData\Local\Temp\ipykernel_10548\2095751978.py:6: FutureWarning: The default value of regex will change from True to False in a future version.
  data.trany = data.trany.str.replace('Auto\(', 'Auto')
C:\Users\David MC\AppData\Local\Temp\ipykernel_10548\2095751978.py:8: FutureWarning: The default value of regex will change from True to False in a future version.
  data.trany = data.trany.str.replace('Manual\(', 'Manual')
C:\Users\David MC\AppData\Local\Temp\ipykernel_10548\2095751978.py:10: FutureWarning: The default value of regex will change from True to False in a future version.
  data.trany = data.trany.str.replace('\(', '')
C:\Users\David MC\AppData\Local\Temp\ipykernel_10548\2095751978.py:12: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  data.trany = data.trany.str.replace(')', '')

array(['Manual 5spd', 'Auto 3spd', 'Auto 4spd', 'Auto 5spd',
       'Manual 4spd', 'Manual 3spd', 'Manual 6spd', 'Auto S5',
       'Auto variable gear ratios', 'Auto 6spd', 'Auto S6', nan,
       'Auto S4', 'Auto 7spd', 'Auto S7', 'Auto S8', 'Auto AM5',
       'AutoAM6', 'AutoAVS7', 'Auto A6', 'Auto AVS6', 'AutoAM7',
       'Manual 4spd Doubled', 'Manual 5 spd', 'Auto AM6', 'Manual 7spd',
       'AutoL4', 'AutoL3', 'Auto AV', 'AutoAM5', 'AutoAVS6', 'Auto AVS8',
       'Auto 8spd', 'AutoAVS8', 'Auto A1', 'AutoAMS6', 'AutoAMS7',
       'Auto 9spd', 'Auto S9', 'AutoAMS8', 'AutoA1', 'AutoAM8',
       'ManualM7', 'AutoAMS9'], dtype=object)

In [41]:
len(data.trany.unique())

44

As you can see, we now have no special characters, consistent naming, and proper spacing. We started out with 47 unique values in this column, and using this technique, we were able to reduce the number of unique values to 39.



# Finding and Removing Duplicates

The final topic we are going to cover in this lab is how to identify and remove duplicate rows (or rows that refer to the same entity) in our data. When trying to identify duplicates, we will use the columns (or attributes) of the data to help us determine what entities are similar enough to be considered the same entity. We want to start with all the columns we currently have available to us and work our way toward a lesser number of attributes in an intuitive fashion. In this process, the act of dropping duplicated records is easy, but identifying the correct attributes for comparison and which records to drop is sometimes quite challenging.

The first thing we will do is attempt to drop any duplicate records, considering all the columns we currently have in the data set. 

Pandas provides us with the ability to do that via the `drop_duplicates method`.

## Drop duplicate rows that are completely equal

In [42]:
#your code

data.drop_duplicates().shape, data.shape

((37843, 37), (37843, 37))

This tells us that there were no records that matched exactly across all columns. However, if we reduce the number of columns in our data that we are interested in, we can try again and have a higher likelihood of finding duplicate records.

## Select a subset of columns, remove all other columns, and then use the drop_duplicates method to drop any duplicate records based on the remaining columns.

In [43]:
data.columns

Index(['barrels08', 'city08', 'city08U', 'co2', 'co2TailpipeGpm', 'comb08',
       'comb08U', 'cylinders', 'displ', 'drive', 'engId', 'feScore',
       'fuelCost08', 'fuelType', 'fuelType1', 'ghgScore', 'highway08',
       'highway08U', 'hlv', 'hpv', 'id', 'lv2', 'lv4', 'make', 'model',
       'mpgData', 'phevBlended', 'pv2', 'pv4', 'trany', 'UCity', 'UHighway',
       'VClass', 'year', 'youSaveSpend', 'createdOn', 'modifiedOn'],
      dtype='object')

In [44]:
#your code

#print('Number of duplicate records dropped: ', str(before - after))

lista_borrar=[]

for columns in data.columns:
    if '08' in columns:
        lista_borrar.append(columns)

lista_borrar

['barrels08',
 'city08',
 'city08U',
 'comb08',
 'comb08U',
 'fuelCost08',
 'highway08',
 'highway08U']

In [45]:
data.shape

(37843, 37)

In [46]:
data2 = data.drop(lista_borrar, axis=1)

In [47]:
data2.shape

(37843, 29)

With the reduced number of columns, we were able to identify and drop 885 duplicate records.

# Export clean dataset
Export your bright new clean dataset into a csv file and store it in data folder.

In [48]:
#your code
data2.to_csv('./data2_coches.csv', index=False)