<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Data-Cleaning" data-toc-modified-id="Data-Cleaning-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Data Cleaning</a></span></li><li><span><a href="#Examining-Data-for-Potential-Issues" data-toc-modified-id="Examining-Data-for-Potential-Issues-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Examining Data for Potential Issues</a></span></li><li><span><a href="#Missing-Values" data-toc-modified-id="Missing-Values-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Missing Values</a></span><ul class="toc-item"><li><span><a href="#Show-the-number-of-null-values-only-of-the-columns-that-actually-have-null-values" data-toc-modified-id="Show-the-number-of-null-values-only-of-the-columns-that-actually-have-null-values-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Show the number of null values only of the columns that actually have null values</a></span></li><li><span><a href="#Remove-the-columns-that-have-more-than-10,000-null-values-in-them" data-toc-modified-id="Remove-the-columns-that-have-more-than-10,000-null-values-in-them-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Remove the columns that have more than 10,000 null values in them</a></span></li><li><span><a href="#Create-a-new-dataframe-that-shows-only-the-row-where-displ-is-null." data-toc-modified-id="Create-a-new-dataframe-that-shows-only-the-row-where-displ-is-null.-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Create a new dataframe that shows only the row where <code>displ</code> is null.</a></span></li><li><span><a href="#Fill-nan-values-with-the-most-appropriate-technique" data-toc-modified-id="Fill-nan-values-with-the-most-appropriate-technique-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>Fill nan values with the most appropriate technique</a></span></li><li><span><a href="#Bonus:" data-toc-modified-id="Bonus:-3.5"><span class="toc-item-num">3.5&nbsp;&nbsp;</span>Bonus:</a></span></li></ul></li><li><span><a href="#Incorrect-Values" data-toc-modified-id="Incorrect-Values-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Incorrect Values</a></span><ul class="toc-item"><li><span><a href="#Check-similar-rows" data-toc-modified-id="Check-similar-rows-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Check similar rows</a></span></li><li><span><a href="#Bonus:" data-toc-modified-id="Bonus:-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>Bonus:</a></span></li></ul></li><li><span><a href="#Low-Variance-Columns" data-toc-modified-id="Low-Variance-Columns-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Low Variance Columns</a></span><ul class="toc-item"><li><span><a href="#Use-the-the-drop-method-like-we-did-earlier-in-this-lesson-to-remove-the-non-informative-columns-from-our-data-frame." data-toc-modified-id="Use-the-the-drop-method-like-we-did-earlier-in-this-lesson-to-remove-the-non-informative-columns-from-our-data-frame.-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>Use the the drop method like we did earlier in this lesson to remove the non informative columns from our data frame.</a></span></li></ul></li><li><span><a href="#Extreme-Values-and-Outliers" data-toc-modified-id="Extreme-Values-and-Outliers-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Extreme Values and Outliers</a></span></li><li><span><a href="#Data-Type-Correction" data-toc-modified-id="Data-Type-Correction-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Data Type Correction</a></span><ul class="toc-item"><li><span><a href="#Check-the-data-type-of-each-column" data-toc-modified-id="Check-the-data-type-of-each-column-7.1"><span class="toc-item-num">7.1&nbsp;&nbsp;</span>Check the data type of each column</a></span></li><li><span><a href="#Cleaning-years" data-toc-modified-id="Cleaning-years-7.2"><span class="toc-item-num">7.2&nbsp;&nbsp;</span>Cleaning years</a></span></li></ul></li><li><span><a href="#Cleaning-Text-and-Removing-Special-Characters" data-toc-modified-id="Cleaning-Text-and-Removing-Special-Characters-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>Cleaning Text and Removing Special Characters</a></span></li><li><span><a href="#Finding-and-Removing-Duplicates" data-toc-modified-id="Finding-and-Removing-Duplicates-9"><span class="toc-item-num">9&nbsp;&nbsp;</span>Finding and Removing Duplicates</a></span><ul class="toc-item"><li><span><a href="#Drop-duplicate-rows-that-are-completely-equal" data-toc-modified-id="Drop-duplicate-rows-that-are-completely-equal-9.1"><span class="toc-item-num">9.1&nbsp;&nbsp;</span>Drop duplicate rows that are completely equal</a></span></li><li><span><a href="#Select-a-subset-of-columns,-remove-all-other-columns,-and-then-use-the-drop_duplicates-method-to-drop-any-duplicate-records-based-on-the-remaining-columns." data-toc-modified-id="Select-a-subset-of-columns,-remove-all-other-columns,-and-then-use-the-drop_duplicates-method-to-drop-any-duplicate-records-based-on-the-remaining-columns.-9.2"><span class="toc-item-num">9.2&nbsp;&nbsp;</span>Select a subset of columns, remove all other columns, and then use the drop_duplicates method to drop any duplicate records based on the remaining columns.</a></span></li></ul></li><li><span><a href="#Export-clean-dataset" data-toc-modified-id="Export-clean-dataset-10"><span class="toc-item-num">10&nbsp;&nbsp;</span>Export clean dataset</a></span></li></ul></div>

# Data Cleaning


Lab Goals

+ Examine data for potential issues.
+ Identify and fill in missing values.
+ Identify and correct incorrect values.
+ Remove low variance columns.
+ Identify potential outliers.
+ Correct incorrect data types.
+ Remove special characters and clean categorical variables.
+ Identify and remove duplicate records.

Introduction

When working with data sets, you will find that they often require a bit of cleaning. Whether Pandas originally read the data types incorrectly, records are duplicated, the data contains special characters or missing value, or there are slightly different references to the same entity, every data analyst must know how to clean the data they are working with before analyzing it. In this lesson, you will learn about some of the most common problems that make data messy and methods for correcting those problems and cleaning your data.

The data set we are going to be using for this lesson is a messy version of the vehicles data set we worked with in the previous lesson. Let's import this version of our data set so that we can then practice cleaning it up.

In [4]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [5]:
#Load data from vehicles_messy.csv

data = pd.read_csv('../data/vehicles_messy.csv')

# Examining Data for Potential Issues

One of the first things we want to do is examine the data and look for any **potential issues**. Some of the things we are interested in identifying in the data at this stage include:

- Missing values
- Special characters
- Incorrect values
- Extreme values or outliers
- Duplicate records
- Incorrect data types

The presence of these may cause problems when it's time to analyze the data, so we want to make sure we address them beforehand. We can start by visually inspecting the data using the `.head` method, which will show us the first 5 rows of data.

In [6]:
#your code

data.head()

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,mfrCode,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb
0,15.695714,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
1,29.964545,0.0,0.0,0.0,9,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
2,12.207778,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
3,29.964545,0.0,0.0,0.0,10,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
4,17.347895,0.0,0.0,0.0,17,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0

But how big actually is our dataframe??? Check it with `.shape` method

In [7]:
#your code
data.shape

(37843, 83)

Let's dive a little more in the content of our data set. Is there any method that shows us the **column names**, its **data types** and number of **non-null values**?

In [8]:
#your code
data.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37843 entries, 0 to 37842
Data columns (total 83 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   barrels08        37843 non-null  float64
 1   barrelsA08       37843 non-null  float64
 2   charge120        37843 non-null  float64
 3   charge240        37843 non-null  float64
 4   city08           37843 non-null  int64
 5   city08U          37843 non-null  float64
 6   cityA08          37843 non-null  int64
 7   cityA08U         37843 non-null  float64
 8   cityCD           37843 non-null  float64
 9   cityE            37843 non-null  float64
 10  cityUF           37843 non-null  float64
 11  co2              37843 non-null  int64
 12  co2A             37843 non-null  int64
 13  co2TailpipeAGpm  37843 non-null  float64
 14  co2TailpipeGpm   37843 non-null  float64
 15  comb08           37843 non-null  int64
 16  comb08U          37843 non-null  float64
 17  combA08          37843 non-null  int64
 18  combA08U         37843 non-null  float64
 19  combE            37843 non-null  float64
 20  combinedCD       37843 non-null  float64
 21  combinedUF       37843 non-null  float64
 22  cylinders        37720 non-null  float64
 23  displ            37723 non-null  float64
 24  drive            36654 non-null  object
 25  engId            37843 non-null  int64
 26  eng_dscr         22440 non-null  object
 27  feScore          37843 non-null  int64
 28  fuelCost08       37843 non-null  int64
 29  fuelCostA08      37843 non-null  int64
 30  fuelType         37843 non-null  object
 31  fuelType1        37843 non-null  object
 32  ghgScore         37843 non-null  int64
 33  ghgScoreA        37843 non-null  int64
 34  highway08        37843 non-null  int64
 35  highway08U       37843 non-null  float64
 36  highwayA08       37843 non-null  int64
 37  highwayA08U      37843 non-null  float64
 38  highwayCD        37843 non-null  float64
 39  highwayE         37843 non-null  float64
 40  highwayUF        37843 non-null  float64
 41  hlv              37843 non-null  int64
 42  hpv              37843 non-null  int64
 43  id               37843 non-null  int64
 44  lv2              37843 non-null  int64
 45  lv4              37843 non-null  int64
 46  make             37843 non-null  object
 47  model            37843 non-null  object
 48  mpgData          37843 non-null  object
 49  phevBlended      37843 non-null  bool
 50  pv2              37843 non-null  int64
 51  pv4              37843 non-null  int64
 52  range            37843 non-null  int64
 53  rangeCity        37843 non-null  float64
 54  rangeCityA       37843 non-null  float64
 55  rangeHwy         37843 non-null  float64
 56  rangeHwyA        37843 non-null  float64
 57  trany            37832 non-null  object
 58  UCity            37843 non-null  float64
 59  UCityA           37843 non-null  float64
 60  UHighway         37843 non-null  float64
 61  UHighwayA        37843 non-null  float64
 62  VClass           37843 non-null  object
 63  year             37843 non-null  int64
 64  youSaveSpend     37843 non-null  int64
 65  guzzler          2281 non-null   object
 66  trans_dscr       15047 non-null  object
 67  tCharger         5186 non-null   object
 68  sCharger         666 non-null    object
 69  atvType          3072 non-null   object
 70  fuelType2        1408 non-null   object
 71  rangeA           1403 non-null   object
 72  evMotor          562 non-null    object
 73  mfrCode          7025 non-null   object
 74  c240Dscr         37 non-null     object
 75  charge240b       37843 non-null  float64
 76  c240bDscr        36 non-null     object
 77  createdOn        37843 non-null  object
 78  modifiedOn       37843 non-null  object
 79  startStop        6138 non-null   object
 80  phevCity         37843 non-null  int64
 81  phevHwy          37843 non-null  int64
 82  phevComb         37843 non-null  int64
dtypes: bool(1), float64(32), int64(27), object(23)
memory usage: 59.8 MB

# Missing Values

From this initial view, we can see that our data set contains some columns that have missing values in them and others that seem to have a lot of zero values. 

Let's see how prevalent missing values are in our data. We can use the Pandas `.isnull()` method to check whether the value in each field is missing (*null*) and return either True or False for each field. 

We can use the `.sum()` method to total up the number of True values by column, and then we can add a condition using square brackets that will filter the data and show us only columns where the number of null values were greater than zero.

## Show the number of null values only of the columns that actually have null values

In [9]:
#your code
nan_cols = data.isnull().sum()
nan_cols

barrels08         0
barrelsA08        0
charge120         0
charge240         0
city08            0
              ...
modifiedOn        0
startStop     31705
phevCity          0
phevHwy           0
phevComb          0
Length: 83, dtype: int64

We can see that some columns have relatively few null values while others have tens of thousands of nulls. For fields that have a lot of null values, you will often have to make a judgement call. If you don't think the information is going to be very useful to your analysis, then you would remove those columns from your data frame.

## Remove the columns that have more than 10,000 null values in them

In Pandas, we can do that using the drop method. For our purposes, let's remove the columns that have more than 10,000 null values in them. We will add these column names to a list, and then we will pass those columns to the drop method and indicate that we want columns (not rows) dropped by setting the axis parameter to 1.

In [10]:
#your code, here we show how many columns there are over 10K nulls.
nan_cols[nan_cols>1e4].index

Index(['eng_dscr', 'guzzler', 'trans_dscr', 'tCharger', 'sCharger', 'atvType',
       'fuelType2', 'rangeA', 'evMotor', 'mfrCode', 'c240Dscr', 'c240bDscr',
       'startStop'],
      dtype='object')

In [11]:
#your code, formula to drop those columns

data.drop(columns=nan_cols[nan_cols>1e4].index, inplace=True)

In [12]:
data.shape
#now we can see we have dropped around 10 columns.

(37843, 70)

This leaves us with just a handful of remaining columns that have null values. Of the columns that remain, it looks like the cylinders column and the displ column have a similar number of nulls. Perhaps they are missing for similar reasons. We can investigate this by subsetting the data set and looking at just the records where displ is null and just the columns we think will be informative in allowing us to determine a reason.

## Create a new dataframe that shows only the row where `displ` is null. 
Keep only the columns you think are useful

In [13]:
#hacemos como el nan_cols, pero en este caso una variable para enfocarlo a esa fila, y después detectarlos nulos,
#  aunque ahora podemos usar un iloc para encontrar la fila

bad_index_displ = data.displ[data.displ.isna()].index

bad_index_displ[:10]

Int64Index([7138, 7139, 8143, 8144, 8146, 8147, 9212, 9213, 10329, 21413], dtype='int64')

In [14]:

#de esta manera "Lockeamos" la fila que queremos y despues le indicamos que solo saque aquellos valores nulos con la variable bad_index_dislp
#por ultimo le indicamos dos columnas para que lo visualicemos como data frame.
data.iloc[bad_index_displ][['displ','cylinders']].head()

      displ  cylinders
7138    NaN        NaN
7139    NaN        NaN
8143    NaN        NaN
8144    NaN        NaN
8146    NaN        NaN

## Fill nan values with the most appropriate technique 
*HINT: Electric cars do not have cylinders and can therefore not have any displacement*

In [15]:
#Sigo la tecnica de las clases, aunque aqui podemos o no incluir cylinders, porque quizas nos interese estudiar los coches electricos. 

#data[['displ']].fillna(0, inplace=True)

#formula para rellenar varias columnas

data.fillna({'displ': 0, 'cylinders': '0'}, inplace=True)

In [16]:
data.iloc[bad_index_displ][['displ','cylinders']].head()

      displ cylinders
7138    0.0         0
7139    0.0         0
8143    0.0         0
8144    0.0         0
8146    0.0         0

## Bonus: 
Now that we have filled in those null values, there are only two columns in the data set that still have null values: trany and drive. Use what you have learned in this section to investigate and potentially fill in the remaining null values.

In [17]:
#your code
data[['trany', 'drive']].head()

             trany                       drive
0     Manual 5-spd            Rear-Wheel Drive
1     Manual 5-spd            Rear-Wheel Drive
2     Manual 5-spd           Front-Wheel Drive
3  Automatic 3-spd            Rear-Wheel Drive
4     Manual 5-spd  4-Wheel or All-Wheel Drive

In [18]:
bad_index_drive = data.drive[data.drive.isna()].index
bad_index_drive

Int64Index([ 7138,  8144,  8147, 18217, 18218, 18219, 18220, 18221, 18222,
            18223,
            ...
            20063, 20064, 20065, 20387, 21129, 23029, 23030, 23032, 23037,
            23040],
           dtype='int64', length=1189)

In [19]:
data.iloc[bad_index_drive][['make', 'model', 'fuelType', 'drive']].head()

             make               model     fuelType drive
7138       Nissan            Altra EV  Electricity   NaN
8144         Ford               Th!nk  Electricity   NaN
8147       Nissan          Hyper-Mini  Electricity   NaN
18217  Alfa Romeo  Spider Veloce 2000      Regular   NaN
18218     Bertone                X1/9      Regular   NaN

In [20]:
data.drive.fillna('unknown', inplace=True)

In [21]:
bad_index_trany = data.trany[data.trany.isna()].index
bad_index_trany

Int64Index([7138, 7139, 8143, 8144, 8146, 8147, 9212, 9213, 10329, 19097,
            19128],
           dtype='int64')

In [22]:
data.trany.fillna('unknown', inplace=True)

In [23]:
#he buscado una formula para rellenar con 0 al mismo tiempo las columnas cylinders y displ. mas arriba. de esta forma ahora ya no me salen
#columnas con elementos vacios nan

nan_cols = data.isna().sum()

nan_cols[nan_cols > 0]

Series([], dtype: int64)

# Incorrect Values

In addition to null values, we also want to try to identify any values that seem incorrect. For example, in the previous section, we learned that a vehicle without cylinders should not have displacement and vice versa. Let's check to see if there are any cases that violate these rules.

In [24]:
#your code
data['displ'].unique()

array([2. , 4.9, 2.2, 5.2, 1.8, 1.6, 2.3, 2.8, 4. , 5. , 3.3, 3.1, 3.8,
       4.6, 3.4, 3. , 5.9, 2.5, 4.5, 6.8, 2.4, 2.9, 5.7, 4.3, 3.5, 5.8,
       3.2, 4.2, 1.9, 6.2, 2.6, 7.4, 3.9, 1.5, 1.3, 4.1, 8. , 6. , 3.6,
       5.4, 5.6, 1. , 2.1, 1.2, 6.5, 2.7, 4.7, 5.5, 1.1, 5.3, 1.7, 4.4,
       3.7, 6.7, 4.8, 0. , 8.3, 1.4, 6.1, 7. , 8.4, 6.3, 6.6, 6.4, 0.6,
       0.9])

In [25]:
data['cylinders'].unique()

array([4.0, 12.0, 8.0, 6.0, 5.0, 10.0, 2.0, 3.0, '0', 16.0], dtype=object)

Is there any row that seems to have strange values?

Here we have identified a vehicle with a regular gasoline engine that reportedly does not have any cylinders but does have a value for displacement.

In [26]:
data.iloc[:][data.cylinders==0]

comparacion=data[(data.cylinders==0) & (data.displ>0)].index
comparacion
data.iloc[comparacion][['make', 'model', 'cylinders', "displ"]]

Empty DataFrame
Columns: [make, model, cylinders, displ]
Index: []

The way we would correct this would be to either perform some domain research or ask a domain expert to find out how many actual cylinders this vehicle had. Alternatively, you can also try to look at similar vehicles in the data set and determine the most likely value for this field.

## Check similar rows

In [27]:
#your code
data.iloc[:][data.cylinders=='Mazda']

comparacion=data[(data.cylinders=='Mazda') & (data.displ==1.3)].index

data.iloc[(comparacion)][['make', 'model', 'cylinders', "displ"]]
comparacion

Int64Index([], dtype='int64')

Suppose that using one of the aforementioned methods, we found out that this vehicle actually has a 4 cylinder engine. Update that specific value in the data frame.

In [28]:
#your code
data.cylinders.21506.replace('0', '2')

SyntaxError: invalid syntax (3935197478.py, line 2)

## Bonus: 
 Try to find other values that might be incorrect in the data set based on what you know about automobiles and correct them.

In [ ]:
#your code

automobiles

# Low Variance Columns

When analyzing data, we want the fields we are working with to be informative, and we will want to strip away any columns that don't have a lot of value to us. One easy way to do this is to identify columns that have low variance, where the majority of the values in the column are the same. Since there is not a lot of variability in these columns, they have the potential to not be as informative as columns that have a variety of different values in them.

Let's try to identify columns where at least 90% of the values are the same so that we can remove them from our data set. To do this, we are going to create an empty list called low_variance that will eventually contain the names of columns that fit our criteria.

We will then write a for loop that will take the minimum and the 90th percentile value for all the numeric columns in our data set (identified via the _get_numeric_data method). If the 90th percentile and the minimum are equal to each other, that means that at least 90% of the values in that column are the same and we will append that column name to our low_variance list.

In [ ]:
data.corr()

,barrels08,barrelsA08,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,cityUF,...,UCity,UCityA,UHighway,UHighwayA,year,youSaveSpend,charge240b,phevCity,phevHwy,phevComb
barrels08,1.000000,0.092832,-0.196292,-0.754178,-0.360597,-0.056636,-0.084756,-0.017269,-0.211531,-0.097761,...,-0.732513,-0.065977,-0.858946,-0.046351,-0.204844,-0.916718,-0.115620,-0.097717,-0.099125,-0.098536
barrelsA08,0.092832,1.000000,0.017203,-0.076313,0.082134,0.570133,0.351375,0.127336,0.054056,0.087933,...,-0.076699,0.508833,-0.082278,0.669937,0.191570,-0.060977,-0.005783,0.076436,0.084851,0.080036
charge240,-0.196292,0.017203,1.000000,0.576734,0.457852,0.207123,0.221567,0.066587,0.681129,0.276103,...,0.577450,0.218256,0.442499,0.180693,0.077567,0.120321,0.772769,0.255466,0.263009,0.259134
city08,-0.754178,-0.076313,0.576734,1.000000,0.572131,0.050442,0.074281,0.004016,0.476948,0.084911,...,0.996735,0.058681,0.925487,0.036163,0.142110,0.697109,0.366841,0.094747,0.092939,0.094276
city08U,-0.360597,0.082134,0.457852,0.572131,1.000000,0.150205,0.184280,0.017014,0.334251,0.107681,...,0.575844,0.150800,0.548646,0.156060,0.575048,0.269068,0.297654,0.113343,0.113373,0.113653
cityA08,-0.056636,0.570133,0.207123,0.050442,0.150205,1.000000,0.916040,0.073687,0.394396,0.796481,...,0.051774,0.991858,0.032300,0.972318,0.151293,0.046678,-0.004139,0.819919,0.820636,0.822138
cityA08U,-0.084756,0.351375,0.221567,0.074281,0.184280,0.916040,1.000000,0.081204,0.423150,0.843672,...,0.077744,0.932159,0.059009,0.866772,0.126216,0.062210,-0.002820,0.870758,0.869347,0.872011
cityCD,-0.017269,0.127336,0.066587,0.004016,0.017014,0.073687,0.081204,1.000000,0.110043,0.215095,...,0.003735,0.072988,0.000669,0.086553,0.014206,-0.002657,-0.000311,0.111577,0.142712,0.124531
cityE,-0.211531,0.054056,0.681129,0.476948,0.334251,0.394396,0.423150,0.110043,1.000000,0.495725,...,0.486934,0.411029,0.352891,0.354181,0.071789,0.109556,0.363969,0.457505,0.487630,0.471398
cityUF,-0.097761,0.087933,0.276103,0.084911,0.107681,0.796481,0.843672,0.215095,0.495725,1.000000,...,0.087999,0.833883,0.057577,0.690519,0.052058,0.060896,-0.001108,0.967991,0.977875,0.973807
co2,-0.113773,0.149881,-0.011685,0.057167,0.625575,0.100273,0.131143,0.021430,-0.001125,0.019786,...,0.055694,0.094000,0.130346,0.124838,0.580558,0.046250,-0.012245,0.016161,0.018465,0.017188
co2A,0.033091,0.564797,-0.006291,-0.035983,0.139267,0.326358,0.361436,-0.001164,-0.007274,-0.004149,...,-0.034797,0.295496,-0.023825,0.415506,0.157047,-0.019073,-0.003492,-0.004029,-0.004166,-0.004097
co2TailpipeAGpm,0.108009,0.976700,-0.010389,-0.086357,0.070911,0.509214,0.276276,-0.001922,-0.012012,-0.006851,...,-0.088124,0.441843,-0.092143,0.612308,0.187526,-0.069692,-0.005766,-0.006654,-0.006879,-0.006765
co2TailpipeGpm,0.987493,0.094602,-0.200058,-0.767689,-0.367654,-0.057452,-0.085603,-0.007399,-0.215767,-0.097423,...,-0.746638,-0.066884,-0.875143,-0.046980,-0.205201,-0.929848,-0.118263,-0.098450,-0.099574,-0.099156
comb08,-0.813910,-0.080863,0.540851,0.987464,0.568988,0.043333,0.067829,0.002087,0.436981,0.074882,...,0.982058,0.051319,0.968491,0.032099,0.178861,0.749715,0.358282,0.083600,0.082479,0.083399
comb08U,-0.356207,0.088777,0.410375,0.526201,0.995312,0.147962,0.182694,0.016967,0.298172,0.099734,...,0.527940,0.147827,0.525772,0.156942,0.600518,0.264964,0.274325,0.103994,0.104691,0.104561
combA08,-0.049812,0.627460,0.194962,0.042642,0.152160,0.995275,0.895101,0.079718,0.376750,0.748942,...,0.043778,0.981211,0.027892,0.986806,0.162325,0.043041,-0.004475,0.768911,0.774012,0.772930
combA08U,-0.081459,0.390926,0.212982,0.069524,0.192018,0.911740,0.995923,0.089101,0.412769,0.808516,...,0.072884,0.923915,0.057620,0.879044,0.136283,0.060562,-0.003055,0.832372,0.835871,0.835690
combE,-0.213542,0.052210,0.676013,0.487216,0.338602,0.393659,0.422572,0.107800,0.998287,0.492964,...,0.498073,0.410462,0.357765,0.352215,0.071699,0.110963,0.353400,0.458623,0.485733,0.471285
combinedCD,-0.015627,0.124880,0.062883,0.002136,0.014741,0.063498,0.070193,0.996243,0.098369,0.202741,...,0.001833,0.062618,-0.000707,0.072407,0.013243,-0.003782,-0.000290,0.096734,0.125484,0.108635
combinedUF,-0.097571,0.088271,0.276521,0.084020,0.106985,0.793950,0.840422,0.215144,0.498140,0.999669,...,0.087024,0.831129,0.057101,0.688822,0.052088,0.060536,-0.001108,0.964227,0.975986,0.970756
cylinders,0.747286,0.152041,-0.151866,-0.614192,-0.155433,0.029583,-0.004036,0.008447,-0.151119,-0.031112,...,-0.595067,0.020685,-0.633901,0.045428,0.087355,-0.778597,-0.098179,-0.033993,-0.033055,-0.033616
displ,0.792071,0.169692,-0.118090,-0.613672,-0.152227,0.033498,-0.001906,0.000985,-0.120798,-0.038078,...,-0.593541,0.023144,-0.668717,0.050781,0.047855,-0.772498,-0.073625,-0.039424,-0.039241,-0.039395
engId,-0.073507,-0.091559,-0.026814,0.070890,-0.203999,-0.065714,-0.044493,-0.004984,-0.031028,-0.017652,...,0.066197,-0.059831,0.009610,-0.074629,-0.476922,0.111466,-0.014973,-0.017172,-0.017732,-0.017452
feScore,-0.325141,0.071442,0.196673,0.359256,0.831998,0.159869,0.195937,0.020094,0.168202,0.125445,...,0.357980,0.161600,0.410974,0.163859,0.577508,0.254210,0.128789,0.126444,0.128195,0.127427
fuelCost08,0.915986,0.062019,-0.116254,-0.696589,-0.267879,-0.035900,-0.050819,0.004025,-0.101977,-0.046655,...,-0.674340,-0.040877,-0.785615,-0.032518,-0.071145,-0.999877,-0.072022,-0.052189,-0.051388,-0.052014
fuelCostA08,0.105908,0.976492,-0.000874,-0.084733,0.072084,0.528825,0.295183,-0.001927,0.004011,0.023714,...,-0.087443,0.461012,-0.092890,0.626014,0.187704,-0.068712,-0.005781,0.019364,0.019815,0.019674
ghgScore,-0.325686,0.073002,0.198994,0.359011,0.831867,0.164475,0.200943,0.022786,0.174235,0.131222,...,0.357791,0.166254,0.410130,0.168435,0.577590,0.253630,0.129100,0.131009,0.133748,0.132415
ghgScoreA,-0.013564,0.493927,-0.006170,-0.007194,0.156234,0.355023,0.392087,-0.001142,-0.007134,-0.004069,...,-0.007066,0.322860,0.018573,0.455715,0.155486,0.022227,-0.003424,-0.003952,-0.004085,-0.004018
highway08,-0.858107,-0.078379,0.467054,0.927770,0.549666,0.033066,0.056134,0.000301,0.363127,0.055776,...,0.917447,0.039933,0.995396,0.027805,0.239015,0.780788,0.325464,0.062546,0.062267,0.062641
highway08U,-0.344219,0.096442,0.344498,0.462646,0.976933,0.142240,0.177164,0.016344,0.248452,0.086486,...,0.462150,0.141030,0.490530,0.155436,0.624417,0.253830,0.237568,0.089045,0.090409,0.089853
highwayA08,-0.040182,0.696538,0.175349,0.031595,0.152648,0.974838,0.853593,0.086427,0.346095,0.673216,...,0.032240,0.952217,0.021755,0.991761,0.175018,0.037725,-0.004868,0.688485,0.698236,0.694305
highwayA08U,-0.075489,0.443443,0.197054,0.061533,0.200728,0.892871,0.976169,0.098220,0.389753,0.745637,...,0.064678,0.899060,0.054864,0.884254,0.149164,0.057329,-0.003357,0.764838,0.773828,0.770373
highwayCD,-0.012009,0.117425,0.053569,-0.001268,0.010130,0.041019,0.045705,0.973399,0.071824,0.173032,...,-0.001576,0.039442,-0.003187,0.043262,0.010964,-0.005897,-0.000240,0.066020,0.089287,0.075547
highwayE,-0.214922,0.050549,0.666702,0.496701,0.342284,0.393493,0.422420,0.106990,0.992156,0.489876,...,0.508570,0.410354,0.361617,0.350289,0.071433,0.112165,0.337722,0.460656,0.483947,0.471771
highwayUF,-0.097165,0.088258,0.276995,0.082592,0.105856,0.789099,0.834987,0.214240,0.500435,0.998263,...,0.085527,0.826149,0.056346,0.685343,0.052036,0.059944,-0.001106,0.957474,0.971814,0.964985
hlv,-0.255115,-0.055967,0.112115,0.245281,0.034921,-0.008123,0.007148,-0.000040,0.053545,0.017064,...,0.237480,-0.003664,0.262182,-0.013941,-0.117039,0.240158,0.119947,0.022009,0.022148,0.022246
hpv,-0.293999,-0.061985,0.090338,0.281656,0.036384,-0.012528,0.003789,-0.000675,0.044743,0.017039,...,0.273417,-0.007667,0.302684,-0.019367,-0.133502,0.279090,0.090285,0.021508,0.021796,0.021798
id,-0.192848,0.177749,0.082755,0.157913,0.590515,0.146332,0.130045,0.015256,0.085445,0.054735,...,0.157254,0.138797,0.232887,0.168024,0.828613,0.089631,0.048286,0.052916,0.054850,0.053853
lv2,-0.123986,-0.060699,-0.019064,0.041028,-0.044914,-0.036380,-0.021099,-0.004250,-0.021208,-0.004395,...,0.036646,-0.031578,0.117038,-0.040766,-0.104674,0.094676,-0.012748,-0.005955,-0.005821,-0.005925
lv4,-0.258650,-0.062793,-0.020554,0.141717,0.003767,-0.021032,-0.010787,-0.003648,-0.019952,-0.002328,...,0.134484,-0.017088,0.236617,-0.020779,-0.038471,0.231305,-0.019325,-0.000974,-0.002183,-0.001562
phevBlended,-0.073758,0.137839,0.172624,0.069768,0.092432,0.592374,0.643752,0.329923,0.445428,0.639524,...,0.071905,0.613401,0.047711,0.542260,0.045016,0.045568,-0.000942,0.660051,0.698997,0.677951
pv2,-0.124002,-0.061263,-0.019010,0.038917,-0.025526,-0.035159,-0.018547,-0.004459,-0.020069,-0.002326,...,0.034880,-0.030099,0.120211,-0.039993,-0.060496,0.073539,-0.013376,-0.004012,-0.003696,-0.003918
pv4,-0.311614,-0.070202,-0.021129,0.179480,0.045957,-0.011487,0.001476,-0.003485,-0.016889,0.008260,...,0.171940,-0.006880,0.300137,-0.011303,0.038472,0.258536,-0.022461,0.009747,0.008998,0.009349
range,-0.179939,-0.009012,0.905309,0.549459,0.407001,-0.006450,-0.004395,-0.000485,0.618112,-0.001727,...,0.546642,-0.005875,0.429730,-0.007334,0.060913,0.105360,0.824530,-0.001677,-0.001734,-0.001705
rangeCity,-0.165814,-0.008296,0.917022,0.534909,0.430114,-0.005938,-0.004046,-0.000446,0.526218,-0.001590,...,0.530654,-0.005408,0.418770,-0.006752,0.062690,0.102065,0.834170,-0.001544,-0.001596,-0.001570
rangeCityA,-0.089798,0.061726,0.257413,0.079263,0.097556,0.744050,0.787823,0.155175,0.412354,0.955518,...,0.081412,0.780194,0.052900,0.631496,0.045505,0.057069,-0.000970,0.938277,0.923094,0.932376
rangeHwy,-0.159035,-0.007958,0.907717,0.503050,0.405956,-0.005695,-0.003881,-0.000428,0.511781,-0.001525,...,0.497009,-0.005188,0.399056,-0.006476,0.060194,0.097389,0.850478,-0.001481,-0.001531,-0.001506
rangeHwyA,-0.090704,0.065401,0.262500,0.078078,0.097365,0.746654,0.788793,0.164380,0.429061,0.964641,...,0.080259,0.782943,0.052608,0.637204,0.046489,0.056910,-0.000990,0.935678,0.928862,0.933365
UCity,-0.732513,-0.076699,0.577450,0.996735,0.575844,0.051774,0.077744,0.003735,0.486934,0.087999,...,1.000000,0.062261,0.919105,0.039294,0.141441,0.674913,0.355675,0.097853,0.096147,0.097450
UCityA,-0.065977,0.508833,0.218256,0.058681,0.150800,0.991858,0.932159,0.072988,0.411029,0.833883,...,0.062261,1.000000,0.042227,0.964304,0.142169,0.052188,-0.003770,0.857154,0.858112,0.859519
UHighway,-0.858946,-0.082278,0.442499,0.925487,0.548646,0.032300,0.059009,0.000669,0.352891,0.057577,...,0.919105,0.042227,1.000000,0.030022,0.239409,0.785757,0.297656,0.064102,0.063916,0.064221
UHighwayA,-0.046351,0.669937,0.180693,0.036163,0.156060,0.972318,0.866772,0.086553,0.354181,0.690519,...,0.039294,0.964304,0.030022,1.000000,0.173596,0.041875,-0.004706,0.705091,0.715414,0.711178
year,-0.204844,0.191570,0.077567,0.142110,0.575048,0.151293,0.126216,0.014206,0.071789,0.052058,...,0.141441,0.142169,0.239409,0.173596,1.000000,0.071828,0.044637,0.050395,0.052207,0.051279
youSaveSpend,-0.916718,-0.060977,0.120321,0.697109,0.269068,0.046678,0.062210,-0.002657,0.109556,0.060896,...,0.674913,0.052188,0.785757,0.041875,0.071828,1.000000,0.071959,0.065155,0.064687,0.065127
charge240b,-0.115620,-0.005783,0.772769,0.366841,0.297654,-0.004139,-0.002820,-0.000311,0.363969,-0.001108,...,0.355675,-0.003770,0.297656,-0.004706,0.044637,0.071959,1.000000,-0.001076,-0.001113,-0.001094
phevCity,-0.097717,0.076436,0.255466,0.094747,0.113343,0.819919,0.870758,0.111577,0.457505,0.967991,...,0.097853,0.857154,0.064102,0.705091,0.050395,0.065155,-0.001076,1.000000,0.991611,0.998389
phevHwy,-0.099125,0.084851,0.263009,0.092939,0.113373,0.820636,0.869347,0.142712,0.487630,0.977875,...,0.096147,0.858112,0.063916,0.715414,0.052207,0.064687,-0.001113,0.991611,1.000000,0.997269
phevComb,-0.098536,0.080036,0.259134,0.094276,0.113653,0.822138,0.872011,0.124531,0.471398,0.973807,...,0.097450,0.859519,0.064221,0.711178,0.051279,0.065127,-0.001094,0.998389,0.997269,1.000000

In [ ]:
low_variance = []
for i in data.select_dtypes(include=np.number):
    minimo = data[i].min()
    percen_90 = np.percentile(data[i], 90)
    if percen_90 == minimo:
        low_variance.append(i)
    if data[i].std()==0:
        low_variance.append(i)
len(low_variance)

0

This returned 34 columns that we could potentially eliminate due to not having high enough variability to be informative. Of course, before we do this, we should check the values that do exist in these fields to confirm that they are not very informative. Once they have been checked, we can use the the drop method like we did earlier in this lesson to remove those columns from our data frame.

## Use the the drop method like we did earlier in this lesson to remove the non informative columns from our data frame.

In [ ]:
# - salian 32 columnas, una la elimine yo a mano
data = data.drop(low_variance, axis=1)

In [ ]:
data.shape

(37843, 37)

# Extreme Values and Outliers

Now that we have removed low variance columns, we should look for outliers, or extreme values, in the columns that remain. These outliers can influence our aggregations when we are analyzing data later, so we want to make sure we address them during our data cleaning stage.

A common method for identifying outliers is one that leverages the interquartile range (IQR). Once the IQR is calculated, it is multiplied by a constant (typically 1.5) and lower and upper bounds are established at:

    25th Percentile - (IQR x 1.5)
    75th Percentile + (IQR x 1.5)

Any values outside this range are potential outliers and should be investigated.

Let's look at how we would do this for our data set using Python. We will use the Pandas describe function to easily calculate the 25th and 75th percentiles for every column and transpose the results so that we can easily reference the values in calculating the interquartile ranges.

In [ ]:
#Run this code
stats = data.describe().transpose()
stats['IQR'] = stats['75%'] - stats['25%']
stats

,count,mean,std,min,25%,50%,75%,max,IQR
barrels08,37843.0,17.532506,4.575950,0.06,14.33087,17.347895,20.600625,47.087143,6.269755
city08,37843.0,17.941389,6.660360,6.00,15.00000,17.000000,20.000000,138.000000,5.000000
city08U,37843.0,4.042737,9.645820,0.00,0.00000,0.000000,0.000000,138.304000,0.000000
co2,37843.0,61.503713,153.387715,-1.00,-1.00000,-1.000000,-1.000000,847.000000,0.000000
co2TailpipeGpm,37843.0,473.179736,122.188847,0.00,388.00000,467.736842,555.437500,1269.571429,167.437500
comb08,37843.0,20.195809,6.623444,7.00,17.00000,19.000000,23.000000,124.000000,6.000000
comb08U,37843.0,4.549751,10.389994,0.00,0.00000,0.000000,0.000000,124.360100,0.000000
cylinders,37843.0,5.719393,1.779040,0.00,4.00000,6.000000,6.000000,16.000000,2.000000
displ,37843.0,3.307658,1.371982,0.00,2.20000,3.000000,4.300000,8.400000,2.100000
engId,37843.0,8860.308961,17829.683477,0.00,0.00000,211.000000,4505.000000,69102.000000,4505.000000
feScore,37843.0,-0.035145,2.379584,-1.00,-1.00000,-1.000000,-1.000000,10.000000,0.000000
fuelCost08,37843.0,1882.060090,510.280408,550.00,1500.00000,1850.000000,2200.000000,5800.000000,700.000000
ghgScore,37843.0,-0.037206,2.374338,-1.00,-1.00000,-1.000000,-1.000000,10.000000,0.000000
highway08,37843.0,24.104881,6.963192,9.00,20.00000,24.000000,27.000000,111.000000,7.000000
highway08U,37843.0,5.438467,11.936327,0.00,0.00000,0.000000,0.000000,111.370000,0.000000
hlv,37843.0,2.026214,5.947989,0.00,0.00000,0.000000,0.000000,49.000000,0.000000
hpv,37843.0,10.424332,28.148770,0.00,0.00000,0.000000,0.000000,195.000000,0.000000
id,37843.0,19019.286235,11034.784855,1.00,9461.50000,18923.000000,28570.500000,38173.000000,19109.000000
lv2,37843.0,1.849219,4.429983,0.00,0.00000,0.000000,0.000000,41.000000,0.000000
lv4,37843.0,6.165658,9.743297,0.00,0.00000,0.000000,13.000000,55.000000,13.000000
pv2,37843.0,13.696113,31.269930,0.00,0.00000,0.000000,0.000000,194.000000,0.000000
pv4,37843.0,33.769125,45.914462,0.00,0.00000,0.000000,91.000000,192.000000,91.000000
UCity,37843.0,22.587229,9.350163,0.00,18.00000,21.000000,25.139300,197.577100,7.139300
UHighway,37843.0,33.619221,10.048326,0.00,27.10000,33.000000,38.109600,159.100000,11.009600
year,37843.0,2000.064398,10.390588,1984.00,1990.00000,2001.000000,2009.000000,2017.000000,19.000000
youSaveSpend,37843.0,-2658.999022,2553.098329,-22250.00,-4250.00000,-2500.000000,-750.000000,4000.000000,3500.000000

We will then create an empty data frame called outliers with the same columns as our data set. Finally, we will loop through each column in the data calculating the lower and upper bounds, retrieving records where the value for that column falls outside the bounds we established, and appending those results to our outlier data frame.

In [ ]:
#Run this code
outliers = pd.DataFrame(columns=data.columns)

for col in stats.index:
    iqr = stats.at[col,'IQR']
    cutoff = iqr * 1.5
    lower = stats.at[col,'25%'] - cutoff
    upper = stats.at[col,'75%'] + cutoff
    results = data[(data[col] < lower) | 
                   (data[col] > upper)].copy()
    results['Outlier'] = col
    outliers = outliers.append(results)
    

outliers.head()

,barrels08,city08,city08U,co2,co2TailpipeGpm,comb08,comb08U,cylinders,displ,drive,...,pv4,trany,UCity,UHighway,VClass,year,youSaveSpend,createdOn,modifiedOn,Outlier
47,32.961,9,0.0,-1,888.7,10,0.0,8.0,5.9,Rear-Wheel Drive,...,0,Automatic 3-spd,11.0,15.0,Vans,1985,-10000,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,barrels08
58,32.961,10,0.0,-1,888.7,10,0.0,8.0,5.2,Rear-Wheel Drive,...,0,Automatic 3-spd,12.0,15.0,Vans,1985,-10000,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,barrels08
69,32.961,10,0.0,-1,888.7,10,0.0,8.0,5.2,Rear-Wheel Drive,...,0,Automatic 3-spd,12.0,15.0,Vans,1985,-10000,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,barrels08
80,32.961,9,0.0,-1,888.7,10,0.0,8.0,5.9,Rear-Wheel Drive,...,0,Automatic 3-spd,11.0,14.0,Vans,1985,-10000,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,barrels08
275,32.961,9,0.0,-1,888.7,10,0.0,8.0,7.4,Rear-Wheel Drive,...,0,Automatic 4-spd,11.0,16.0,Standard Pickup Trucks,1993,-10000,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,barrels08

Our outliers data frame should now be populated with records that you can investigate further and determine whether they should be kept in the data or dropped. The Outlier column we added before appending the results for the column to the outliers data frame will let you know what column in each record contained the outlier. If you find that this method is returning too many results, you can be more stringent with your cutoff criteria (e.g. increasing the constant by which you multiply the IQR to 3 instead of 1.5).

# Data Type Correction

One common problem that is often overlooked is incorrect data types. This typically occurs when there is a numeric variable that should actually be represented as a categorical variable.

## Check the data type of each column

In [ ]:
##your code
data.dtypes

barrels08          float64
city08               int16
city08U            float64
co2                  int16
co2TailpipeGpm     float64
comb08                int8
comb08U            float64
cylinders          float64
displ              float64
drive             category
engId                int32
feScore               int8
fuelCost08           int16
fuelType          category
fuelType1         category
ghgScore              int8
highway08             int8
highway08U         float64
hlv                   int8
hpv                  int16
id                   int32
lv2                   int8
lv4                   int8
make              category
model             category
mpgData           category
phevBlended           bool
pv2                  int16
pv4                  int16
trany             category
UCity              float64
UHighway           float64
VClass            category
year                 int16
youSaveSpend         int16
createdOn         category
modifiedOn        category
dtype: object

## Cleaning years
Do you think column year is a continuous variable? Would you change it onto another dtype?

In [ ]:
#your code
#los años son un integer y podriamos pasarlos a una fecha

for c in data.select_dtypes('integer').columns:
    data[c] = pd.to_numeric(data[c], downcast='integer')

You can apply this technique to any column whose data type you would like to change.

In [ ]:
#your code
for c in data.select_dtypes('object').columns:
    data[c]=data[c].astype('category')

# Cleaning Text and Removing Special Characters

The presence of special characters in our fields has the potential to make analyzing our data challenging. Imagine not being able to perform calculations on a numeric field because it was currently represented as an object data type due to the fact that it had a dollar sign ($) in it. 

Similarly, imagine having a categorical field where you could not group records that belong in the same group together because in one field you are grouping by, terms that refer to the same thing are sometimes hyphenated. In cases like this, it is necessary to remove special characters so that we can properly analyze the data.

In our vehicles data set, the trany field has several special characters (parentheses, hyphens, etc.). Check the unique values and clean the column.

hint: check the `replace` function

In [ ]:

data.trany = data.trany.str.replace('-', '')

data.trany = data.trany.str.replace('Automatic', 'Auto')

data.trany = data.trany.str.replace('Auto\(', 'Auto')

data.trany = data.trany.str.replace('Manual\(', 'Manual')

In [ ]:
#your code
data.trany.unique()

array(['Manual 5spd', 'Auto 3spd', 'Auto 4spd', 'Auto 5spd',
       'Manual 4spd', 'Manual 3spd', 'Manual 6spd', 'Auto S5)',
       'Auto variable gear ratios)', 'Auto 6spd', 'Auto S6)', 'unknown',
       'Auto S4)', 'Auto 7spd', 'Auto S7)', 'Auto S8)', 'Auto AM5)',
       'AutoAM6)', 'AutoAVS7)', 'Auto A6)', 'Auto AVS6)', 'AutoAM7)',
       'Manual 4spd Doubled', 'Manual 5 spd', 'Auto AM6)', 'Manual 7spd',
       'AutoL4)', 'AutoL3)', 'Auto AV)', 'AutoAM5)', 'AutoAVS6)',
       'Auto AVS8)', 'Auto 8spd', 'AutoAVS8)', 'Auto A1)', 'AutoAMS6)',
       'AutoAMS7)', 'Auto 9spd', 'Auto S9)', 'AutoAMS8)', 'AutoA1)',
       'AutoAM8)', 'ManualM7)', 'AutoAMS9)'], dtype=object)

In [ ]:
#your code

As you can see, we now have no special characters, consistent naming, and proper spacing. We started out with 47 unique values in this column, and using this technique, we were able to reduce the number of unique values to 39.



# Finding and Removing Duplicates

The final topic we are going to cover in this lab is how to identify and remove duplicate rows (or rows that refer to the same entity) in our data. When trying to identify duplicates, we will use the columns (or attributes) of the data to help us determine what entities are similar enough to be considered the same entity. We want to start with all the columns we currently have available to us and work our way toward a lesser number of attributes in an intuitive fashion. In this process, the act of dropping duplicated records is easy, but identifying the correct attributes for comparison and which records to drop is sometimes quite challenging.

The first thing we will do is attempt to drop any duplicate records, considering all the columns we currently have in the data set. 

Pandas provides us with the ability to do that via the `drop_duplicates method`.

## Drop duplicate rows that are completely equal

In [ ]:
#your code

data.drop_duplicates().head()

,barrels08,city08,city08U,co2,co2TailpipeGpm,comb08,comb08U,cylinders,displ,drive,...,pv2,pv4,trany,UCity,UHighway,VClass,year,youSaveSpend,createdOn,modifiedOn
0,15.695714,19,0.0,-1,423.190476,21,0.0,4.0,2.0,Rear-Wheel Drive,...,0,0,Manual 5spd,23.3333,35.0000,Two Seaters,1985,-1250,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013
1,29.964545,9,0.0,-1,807.909091,11,0.0,12.0,4.9,Rear-Wheel Drive,...,0,0,Manual 5spd,11.0000,19.0000,Two Seaters,1985,-8500,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013
2,12.207778,23,0.0,-1,329.148148,27,0.0,4.0,2.2,Front-Wheel Drive,...,0,0,Manual 5spd,29.0000,47.0000,Subcompact Cars,1985,500,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013
3,29.964545,10,0.0,-1,807.909091,11,0.0,8.0,5.2,Rear-Wheel Drive,...,0,0,Auto 3spd,12.2222,16.6667,Vans,1985,-8500,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013
4,17.347895,17,0.0,-1,467.736842,19,0.0,4.0,2.2,4-Wheel or All-Wheel Drive,...,0,90,Manual 5spd,21.0000,32.0000,Compact Cars,1993,-4000,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013

This tells us that there were no records that matched exactly across all columns. However, if we reduce the number of columns in our data that we are interested in, we can try again and have a higher likelihood of finding duplicate records.

In [29]:
#no parece haber duplicados

data.shape

(37843, 70)

## Select a subset of columns, remove all other columns, and then use the drop_duplicates method to drop any duplicate records based on the remaining columns.

In [30]:
#your code

columnas_borro= data.iloc[:][['make', 'drive']]


columnas_borro.head()

#print('Number of duplicate records dropped: ', str(before - after))

         make                       drive
0  Alfa Romeo            Rear-Wheel Drive
1     Ferrari            Rear-Wheel Drive
2       Dodge           Front-Wheel Drive
3       Dodge            Rear-Wheel Drive
4      Subaru  4-Wheel or All-Wheel Drive

In [31]:
columnas_borro.drop_duplicates().shape, data.shape

((347, 2), (37843, 70))

With the reduced number of columns, we were able to identify and drop 885 duplicate records.

# Export clean dataset
Export your bright new clean dataset into a csv file and store it in data folder.

In [32]:
#your code
data.to_csv('vehiclesfinal.csv', index= False)